schemas/ra3/xsd/Modules/StoreCurrentStateUpdate.xsd

<?xml version="1.0" encoding="utf-8" ?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:ea.com:eala:asset" xmlns:at="uri:ea.com:eala:asset:type" xmlns:xas="uri:ea.com:eala:asset:schema" targetNamespace="uri:ea.com:eala:asset" elementFormDefault="qualified" xmlns:XmlEdit="http://tempuri.org/XmlEdit.xsd">

	<xs:complexType name="StoreCurrentStateUpdateModuleData">
		<xs:complexContent>
			<xs:extension base="UpdateModuleData">
				<xs:attribute name="SleepTime" type="Time" default="0s"/>
				<xs:attribute name="MaxTime" type="Time" default="5s"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
