schemas/ra3/xsd/Modules/TrackDamage.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:ea.com:eala:asset" xmlns:at="uri:ea.com:eala:asset:type" xmlns:xas="uri:ea.com:eala:asset:schema" targetNamespace="uri:ea.com:eala:asset" elementFormDefault="qualified" xmlns:XmlEdit="http://tempuri.org/XmlEdit.xsd">

	<xs:complexType name="TrackDamageModuleData">
		<xs:complexContent>
			<xs:extension base="DamageModuleData">
				<xs:sequence></xs:sequence>
				<xs:attribute name="TimeToTrack" type="Time" use="required" />
				<xs:attribute name="InstantWeaponsOnly" type="SageBool" default="false" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
