schemas/ra3/xsd/AssetTypeUIConfigList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   xmlns="uri:ea.com:eala:asset"
		   xmlns:at="uri:ea.com:eala:asset:type"
		   xmlns:xas="uri:ea.com:eala:asset:schema"
		   targetNamespace="uri:ea.com:eala:asset"
		   elementFormDefault="qualified"
		   xmlns:XmlEdit="uri:ea.com:eala:XmlEdit">

	<!-- Joypad-based Shared components -->
	<xs:include schemaLocation="InGameUI/UIComponentAptJoypad.xsd"/>
	<xs:include schemaLocation="UI/Components/UIComponentSound.xsd"/>
	<xs:include schemaLocation="Shell/UIComponentMovie.xsd"/>
	<xs:include schemaLocation="Shell/UIComponentSaveLoad.xsd"/>
	<xs:include schemaLocation="Shell/UIComponentOptions.xsd"/>
	<xs:include schemaLocation="Shell/UIComponentGameInfo.xsd"/>
	<xs:include schemaLocation="Shell/UIComponentStats.xsd"/>
	<xs:include schemaLocation="Shell/UIComponentPlasmaInterface.xsd"/>

	<!-- Joypad-based In-game components -->
	<xs:include schemaLocation="Includes/UIBaseComponent.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentCheats.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentGameViewJoypad.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentObjectSelector.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentCursor.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentObjectAction.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentCommandBar.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentInGameShowHide.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentSUDs.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentPause.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentObjectives.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentVictoryDefeat.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentInGameText.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentFormation.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentInputBridge.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentSpecialPowers.xsd"/>
	<xs:include schemaLocation="InGameUI/UIComponentMode.xsd"/>
	<xs:include schemaLocation="UI/Joypad/Components/UIComponentPlayerTechStore.xsd"/>
	<xs:include schemaLocation="UI/Joypad/Components/UIComponentJoypadTactical.xsd"/>
  	<xs:include schemaLocation="UI/Joypad/Components/UIComponentRadar.xsd"/>
	<xs:include schemaLocation="UI/Joypad/Components/UIComponentCommandList.xsd"/>
	<xs:include schemaLocation="UI/Joypad/Components/UIComponentCoopCommander.xsd"/>
	<xs:include schemaLocation="UI/Joypad/Components/UIComponentPlayerPowers.xsd"/> 

	<!-- Joypad-based Shell Components -->
	<xs:include schemaLocation="Shell/UIComponentShell.xsd"/>
	<xs:include schemaLocation="Shell/UIComponentShellMultiplayer.xsd"/>
	<xs:include schemaLocation="Shell/UIComponentLobby.xsd"/>
	<xs:include schemaLocation="Shell/UIComponentBootup.xsd"/>
	<xs:include schemaLocation="Shell/UIComponentTicker.xsd"/>

	<!-- Mouse-based In-game Components -->
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentMouseTactical.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentDisconnect.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentMouseInGame.xsd"/>

	<!-- Mouse-based Shell Components -->
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentAutoMatch.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentComlinkNotification.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentGameSetup.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentKeyboard.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentLanLobby.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentMapList.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentMouse.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentProfileManager.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentOnlineInvite.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentOnlineLogin.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentOnlineBuddyList.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentOnlineGameList.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentOnlineLobbyList.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentOnlinePlayerList.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentPcSaveLoad.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentShellVisibility.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentOptionsSettingsAudio.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentOptionsSettingsGeneral.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentOptionsSettingsGraphics.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentOptionsSettingsHotkeys.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentOptionsSettingsNetwork.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentChat.xsd"/>
	<xs:include schemaLocation="UI/Mouse/Components/UIComponentVoiceChat.xsd"/>
    <xs:include schemaLocation="UI/Mouse/Components/UIComponentCareerStats.xsd"/>
	
	<!-- Loading screen -->
	<xs:include schemaLocation="UI/Components/UIComponentLoadScreen.xsd"/>

	<!-- Mouse/Joypad shared components -->
	<xs:include schemaLocation="InGameUI/UIComponentAptMediator.xsd"/>
	<xs:include schemaLocation="UI/Components/UIComponentCampaign.xsd"/>
	<xs:include schemaLocation="UI/Components/UIComponentMessage.xsd"/>
	<xs:include schemaLocation="UI/Components/UIComponentPostGame.xsd"/>
	<xs:include schemaLocation="UI/Components/UIComponentCredits.xsd"/>
    <xs:include schemaLocation="UI/Components/UIComponentTutorial.xsd"/>
    <xs:include schemaLocation="UI/Components/UIComponentMovieArchive.xsd"/>

	<xs:complexType name="UIBaseComponentTypes">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<!-- Joypad-based Shared components -->
			<xs:element name="UIComponentAptJoypad" type="UIComponentAptJoypad" />
			<xs:element name="UIComponentSound" type="UIComponentSound" />
			<xs:element name="UIComponentMovie" type="UIComponentMovie" />
			<xs:element name="UIComponentSaveLoad" type="UIComponentSaveLoad"/>
			<xs:element name="UIComponentOptions" type="UIComponentOptions"/>
			<xs:element name="UIComponentGameInfo" type="UIComponentGameInfo"/>
			<xs:element name="UIComponentStats" type="UIComponentStats"/>
			<xs:element name="UIComponentPlasmaInterface" type="UIComponentPlasmaInterface"/>

			<!-- Joypad-based In-game components -->
			<xs:element name="UIComponentCheats" type="UIComponentCheats" />
			<xs:element name="UIComponentGameViewJoypad" type="UIComponentGameViewJoypad" />
			<xs:element name="UIComponentObjectSelector" type="UIComponentObjectSelector" />
			<xs:element name="UIComponentCursor" type="UIComponentCursor" />
			<xs:element name="UIComponentObjectAction" type="UIComponentObjectAction" />
			<xs:element name="UIComponentCommandBar" type="UIComponentCommandBar" />
			<xs:element name="UIComponentInGameShowHide" type="UIComponentInGameShowHide" />
			<xs:element name="UIComponentSUDs" type="UIComponentSUDs" />
			<xs:element name="UIComponentPause" type="UIComponentPause"/>
			<xs:element name="UIComponentObjectives" type="UIComponentObjectives"/>
			<xs:element name="UIComponentVictoryDefeat" type="UIComponentVictoryDefeat"/>
			<xs:element name="UIComponentInGameText" type="UIComponentInGameText"/>
			<xs:element name="UIComponentFormation" type="UIComponentFormation"/>
			<xs:element name="UIComponentInputBridge" type="UIComponentInputBridge" />
			<xs:element name="UIComponentSpecialPowers" type="UIComponentSpecialPowers"/>
			<xs:element name="UIComponentMode" type="UIComponentMode"/>
			<xs:element name="UIComponentJoypadTactical" type="UIComponentJoypadTactical"/>
			<xs:element name="UIComponentPlayerTechStore" type="UIComponentPlayerTechStore"/>
			<xs:element name="UIComponentRadar" type="UIComponentRadar"/>
			<xs:element name="UIComponentCommandList" type="UIComponentCommandList" />
			<xs:element name="UIComponentCoopCommander" type="UIComponentCoopCommander"/>
			<xs:element name="UIComponentPlayerPowers" type="UIComponentPlayerPowers" />

			<!-- Joypad-based Shell Components -->
			<xs:element name="UIComponentShell" type="UIComponentShell" />
			<xs:element name="UIComponentShellMultiplayer" type="UIComponentShellMultiplayer"/>
			<xs:element name="UIComponentLobby" type="UIComponentLobby"/>
			<xs:element name="UIComponentBootup" type="UIComponentBootup"/>
			<xs:element name="UIComponentTicker" type="UIComponentTicker"/>

			<!-- Mouse-based shared components -->

			<!-- Mouse-based In-game Components -->
			<xs:element name="UIComponentMouseTactical" type="UIComponentMouseTactical" />
			<xs:element name="UIComponentDisconnect" type="UIComponentDisconnect" />
			<xs:element name="UIComponentMouseInGame" type="UIComponentMouseInGame" />

			<!-- Mouse-based Shell Components -->
			<xs:element name="UIComponentAutoMatch" type="UIComponentAutoMatch" />
			<xs:element name="UIComponentComlinkNotification" type="UIComponentComlinkNotification" />
			<xs:element name="UIComponentGameSetup" type="UIComponentGameSetup" />
			<xs:element name="UIComponentKeyboard" type="UIComponentKeyboard" />
			<xs:element name="UIComponentLanLobby" type="UIComponentLanLobby" />
			<xs:element name="UIComponentMapList" type="UIComponentMapList" />
			<xs:element name="UIComponentMouse" type="UIComponentMouse" />
			<xs:element name="UIComponentProfileManager" type="UIComponentProfileManager" />
			<xs:element name="UIComponentOnlineInvite" type="UIComponentOnlineInvite" />
			<xs:element name="UIComponentOnlineLogin" type="UIComponentOnlineLogin" />
			<xs:element name="UIComponentOnlineBuddyList" type="UIComponentOnlineBuddyList" />
			<xs:element name="UIComponentOnlineGameList" type="UIComponentOnlineGameList" />
			<xs:element name="UIComponentOnlineLobbyList" type="UIComponentOnlineLobbyList" />
			<xs:element name="UIComponentOnlinePlayerList" type="UIComponentOnlinePlayerList" />
			<xs:element name="UIComponentPcSaveLoad" type="UIComponentPcSaveLoad" />
			<xs:element name="UIComponentShellVisibility" type="UIComponentShellVisibility" />
			<xs:element name="UIComponentOptionsSettingsAudio" type="UIComponentOptionsSettingsAudio" />
			<xs:element name="UIComponentOptionsSettingsGeneral" type="UIComponentOptionsSettingsGeneral" />
			<xs:element name="UIComponentOptionsSettingsGraphics" type="UIComponentOptionsSettingsGraphics" />
			<xs:element name="UIComponentOptionsSettingsHotkeys" type="UIComponentOptionsSettingsHotkeys" />
			<xs:element name="UIComponentOptionsSettingsNetwork" type="UIComponentOptionsSettingsNetwork" />
			<xs:element name="UIComponentChat" type="UIComponentChat" />
			<xs:element name="UIComponentVoiceChat" type="UIComponentVoiceChat" />
            <xs:element name="UIComponentCareerStats" type="UIComponentCareerStats"/>

			<!-- Loading screen -->
			<xs:element name="UIComponentLoadScreen" type="UIComponentLoadScreen" />

			<!-- Credits screen -->
			<xs:element name="UIComponentCredits" type="UIComponentCredits" />

			<!-- Mouse/Joypad shared components -->
			<xs:element name="UIComponentAptMediator" type="UIComponentAptMediator" />
			<xs:element name="UIComponentCampaign" type="UIComponentCampaign" />
			<xs:element name="UIComponentMessage" type="UIComponentMessage"/>
			<xs:element name="UIComponentPostGame" type="UIComponentPostGame" />
            <xs:element name="UIComponentTutorial" type="UIComponentTutorial" />
            <xs:element name="UIComponentMovieArchive" type="UIComponentMovieArchive"/>
		</xs:choice>
	</xs:complexType>

	<xs:simpleType name="UIConfigType"  xas:enumItemPrefix="UI_TYPE_" 
										xas:useEnumPrefix="false" 
										xas:targetNamespace="Sage::UI::Settings">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INGAME" />
			<xs:enumeration value="SHELL" />
			<xs:enumeration value="BOOTUP" />
			<xs:enumeration value="LOADSCREEN" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="UIDynamicConfig" >
		<xs:sequence>
			<xs:element name="ComponentList" type="UIBaseComponentTypes" />
		</xs:sequence>
		<xs:attribute name="Name" type="StringHash" />
		<xs:attribute name="Type" type="UIConfigType"/>
	</xs:complexType>

	<xs:complexType name="UIConfigList" xas:runtimeWrapper="Sage::UI::Settings::UIConfigList" xas:typeGroup="Xml">
		<xs:complexContent>
			<xs:extension base="BaseAssetType">
				<xs:sequence>
					<xs:element name="UIDynamicConfig" type="UIDynamicConfig" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
