schemas/ra3/xsd/CnC3Types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:ea.com:eala:asset" xmlns:balance="uri:ea.com:eala:balance" xmlns:at="uri:ea.com:eala:asset:type" xmlns:xas="uri:ea.com:eala:asset:schema" targetNamespace="uri:ea.com:eala:asset" elementFormDefault="qualified" xmlns:XmlEdit="http://tempuri.org/XmlEdit.xsd">

	<xs:include schemaLocation="Base/AssetBase.xsd"/>

	<xs:include schemaLocation="includes/Ref.xsd" />
	<xs:include schemaLocation="includes/Base.xsd" />
	<xs:include schemaLocation="includes/Common.xsd" />
	<xs:include schemaLocation="includes/DamageFX.xsd" />
	<xs:include schemaLocation="includes/DamageDef.xsd" />
	<xs:include schemaLocation="includes/DistTestType.xsd" />
	<xs:include schemaLocation="includes/Geometry.xsd" />
	<xs:include schemaLocation="includes/GlobalGameData.xsd" />
	<xs:include schemaLocation="includes/KindOf.xsd" />
	<xs:include schemaLocation="includes/ModelState.xsd" />
	<xs:include schemaLocation="includes/SpecialPowerDef.xsd" />
	<xs:include schemaLocation="includes/Emotion.xsd" />
	<xs:include schemaLocation="includes/Death.xsd" />
	<xs:include schemaLocation="includes/ObjectStatus.xsd" />
	<xs:include schemaLocation="includes/Relationship.xsd" />
	<xs:include schemaLocation="includes/ObjectSoundTypes.xsd" />
	<xs:include schemaLocation="includes/ObjectSound.xsd" />
	<xs:include schemaLocation="includes/ObjectEvaTypes.xsd" />
	<xs:include schemaLocation="includes/ObjectEva.xsd" />
	<xs:include schemaLocation="includes/Envelope.xsd" />
	<xs:include schemaLocation="includes/Decal.xsd" />
	<xs:include schemaLocation="includes/ObjectFilter.xsd" />
	<xs:include schemaLocation="includes/UpgradeDef.xsd" />
	<xs:include schemaLocation="includes/AIUpgradeHeuristic.xsd" />
	<xs:include schemaLocation="includes/UnitCategory.xsd" />
	<xs:include schemaLocation="includes/WeaponCategory.xsd" />
	<xs:include schemaLocation="includes/View.xsd" />
	<xs:include schemaLocation="includes/MiscAudio.xsd" />
	<xs:include schemaLocation="includes/AnimationSoundSettings.xsd" />
	<xs:include schemaLocation="includes/MoneyTransactionCategory.xsd" />
	<xs:include schemaLocation="includes/GameDependency.xsd" />
	<xs:include schemaLocation="includes/AIKindOf.xsd" />
	<xs:include schemaLocation="includes/FactionType.xsd" />
	<xs:include schemaLocation="includes/GameDifficulty.xsd" />
	<xs:include schemaLocation="includes/UnitAIStateEnums.xsd" />
	<xs:include schemaLocation="Multiplayer/SiegeEvaEvents.xsd" />
	<xs:include schemaLocation="includes/Eva.xsd" />
	<xs:include schemaLocation="includes/MiscEvaEvents.xsd" />
	<xs:include schemaLocation="Includes/RegisteredObjectSetId.xsd" />
	<xs:include schemaLocation="Includes/WaterTexture.xsd" />
	<xs:include schemaLocation="Includes/Dynamics.xsd" />
	<xs:include schemaLocation="Includes/BuildingPlacementSurface.xsd"/>
	<xs:include schemaLocation="Includes/MissionObjectiveCategory.xsd"/>
	<xs:include schemaLocation="Includes/MissionObjectiveStatus.xsd"/>
	<xs:include schemaLocation="Includes/RenderScene.xsd" />
	<xs:include schemaLocation="Includes/AnimationMode.xsd" />
	<xs:include schemaLocation="includes/OutlineDrawType.xsd" />
	<xs:include schemaLocation="includes/MapBorder.xsd"/>
	<xs:include schemaLocation="includes/MouseHUDFixedElementId.xsd"/>
	<xs:include schemaLocation="includes/JoypadHUDFixedElementId.xsd"/>
	<xs:include schemaLocation="includes/DieMux.xsd"/>
	<xs:include schemaLocation="includes/UIStateProposition.xsd"/>

	<xs:include schemaLocation="AssetTypeW3D.xsd"/>
	<xs:include schemaLocation="AssetTypeShaderOverride.xsd"/>
	<xs:include schemaLocation="AssetTypeAttributeModifier.xsd"/>
	<xs:include schemaLocation="AssetTypeCommandSet.xsd"/>
	<xs:include schemaLocation="AssetTypeFXParticleSystem.xsd"/>
	<xs:include schemaLocation="AssetTypeWeaponTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeTerrainAsset.xsd" />
	<xs:include schemaLocation="AssetTypeLocomotorTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeWeather.xsd"/>
	<xs:include schemaLocation="AssetTypeShadowMap.xsd"/>
	<xs:include schemaLocation="AssetTypeWaterTransparency.xsd"/>
	<xs:include schemaLocation="AssetTypeWaterSetting.xsd"/>
	<xs:include schemaLocation="AssetTypeWaterTextureList.xsd"/>
	<xs:include schemaLocation="AssetTypeUnitAbilityButtonTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeFXList.xsd"/>
	<xs:include schemaLocation="AssetTypeDamageFX.xsd"/>
	<xs:include schemaLocation="AssetTypeObjectCreationList.xsd"/>
	<xs:include schemaLocation="AssetTypeObjectFilter.xsd"/>
	<xs:include schemaLocation="AssetTypeAudio.xsd"/>
	<xs:include schemaLocation="AssetTypeMusicScript.xsd"/>
	<xs:include schemaLocation="AssetTypePathMusic.xsd"/>
	<xs:include schemaLocation="AssetTypeLocalBuildListMonitor.xsd"/>
	<xs:include schemaLocation="AssetTypeSpecialPowerTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeUpgradeTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeArmorTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeTexture.xsd"/>
	<xs:include schemaLocation="AssetTypeCampaignManager.xsd"/>
	<xs:include schemaLocation="AssetTypeExperienceLevelTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypePipelineTestType.xsd"/>
	<xs:include schemaLocation="AssetTypePlayerPowerButtonTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeInvisibilityTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeMultiplayerColor.xsd"/>
	<xs:include schemaLocation="AssetTypeOnlineChatColors.xsd"/>
	<xs:include schemaLocation="AssetTypeMultiplayerSettings.xsd"/>
	<xs:include schemaLocation="AssetTypeUIConfigList.xsd"/>
	<xs:include schemaLocation="AssetTypePackedTexture.xsd"/>
	<xs:include schemaLocation="AssetTypeOnDemandTextureImage.xsd"/>
	<xs:include schemaLocation="AssetTypeAIData.xsd"/>
	<xs:include schemaLocation="AssetTypeTerrainTextureAtlas.xsd"/>
	<xs:include schemaLocation="AssetTypeMouse.xsd"/>
	<xs:include schemaLocation="AssetTypeAchievementData.xsd"/>
	<xs:include schemaLocation="AssetTypeGameplayCondition.xsd"/>
	<xs:include schemaLocation="AssetTypeGameplayAchievementTrigger.xsd"/>
	<xs:include schemaLocation="AssetTypeEngagingContent.xsd" />
	<xs:include schemaLocation="AssetTypeFontDirectory.xsd" />
	<xs:include schemaLocation="AssetTypeStanceTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeLogicCommand.xsd"/>
	<xs:include schemaLocation="AssetTypeLogicCommandSet.xsd"/>
	<xs:include schemaLocation="AssetTypeRoads.xsd"/>
	<xs:include schemaLocation="AssetTypeEnvironment.xsd"/>
	<xs:include schemaLocation="AssetTypeCrowdResponse.xsd"/>
	<xs:include schemaLocation="AssetTypeMapMetaData.xsd"/>
	<xs:include schemaLocation="AssetTypeLargeGroupAudio.xsd"/>
	<xs:include schemaLocation="AssetTypeGameScriptList.xsd"/>
	<xs:include schemaLocation="AssetTypeUnitTypeIcon.xsd"/>
	<xs:include schemaLocation="AssetTypeAptAssets.xsd"/>
	<xs:include schemaLocation="AssetTypeMappableKey.xsd"/>
	<xs:include schemaLocation="AssetTypeHotKeySlot.xsd"/>
	<xs:include schemaLocation="AssetTypeDefaultHotKeys.xsd"/>
	<xs:include schemaLocation="AssetTypeDebugHotKeys.xsd"/>
	<xs:include schemaLocation="AssetTypeBootupDisplaySequence.xsd"/>
	<xs:include schemaLocation="AssetTypeIntelDatabase.xsd"/>
	<xs:include schemaLocation="AssetTypeImageSequence.xsd"/>
	<xs:include schemaLocation="AssetTypeUnitOverlayIconSettings.xsd"/>
	<xs:include schemaLocation="AssetTypeDLContent.xsd"/>
	<xs:include schemaLocation="AssetTypeVideo.xsd"/>
	<xs:include schemaLocation="AssetTypeVideoSequence.xsd"/>
	<xs:include schemaLocation="AssetTypeConnectionLineManager.xsd"/>
	<xs:include schemaLocation="AssetTypeTheVersion.xsd"/>
	<xs:include schemaLocation="AssetTypeRedAlert.xsd"/>
	<xs:include schemaLocation="AssetTypePlayerTech.xsd"/>
	<xs:include schemaLocation="AssetTypePlayerTechRank.xsd"/>
	<xs:include schemaLocation="AssetTypePlayerTechUpgradeBinding.xsd"/>
	<xs:include schemaLocation="AssetTypePlayerTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeEmotionTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeHeaderTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeDrawGroupInfo.xsd"/>
	<xs:include schemaLocation="AssetTypeRegisteredObjectSet.xsd" />
	<xs:include schemaLocation="AssetTypeMeshInstanceTemplate.xsd" />
	<xs:include schemaLocation="AssetTypeLanguage.xsd" />
	<xs:include schemaLocation="AssetTypeFormationAssistantTemplate.xsd" />
	<xs:include schemaLocation="AssetTypeFontSettings.xsd" />
	<xs:include schemaLocation="AssetTypeFontTranslation.xsd" />
	<xs:include schemaLocation="AssetTypeFontSubstitution.xsd" />
	<xs:include schemaLocation="AssetTypeCredits.xsd" />
	<xs:include schemaLocation="AssetTypeGeneralHotKeySlots.xsd" />
	<xs:include schemaLocation="AssetTypeMouseCursor.xsd" />
	<xs:include schemaLocation="AssetTypeBasicMouseCursors.xsd" />
	<xs:include schemaLocation="AssetTypeUIMouseSettings.xsd" />
	<xs:include schemaLocation="AssetTypeButtonState.xsd" />
	<xs:include schemaLocation="AssetTypeJoypadCommandBarTemplate.xsd" />
	<xs:include schemaLocation="AssetTypeJoypadCommandBarButtonTemplate.xsd" />
	<xs:include schemaLocation="AssetTypeUIJoypadSettings.xsd" />
	<xs:include schemaLocation="AssetTypeUISettings.xsd" />
	<xs:include schemaLocation="AssetTypeProjectilePath.xsd"/>
	<xs:include schemaLocation="AssetTypeRadarTerrainImage.xsd"/>
	<xs:include schemaLocation="AssetTypeAssetReport.xsd"/>
	<xs:include schemaLocation="AssetTypeHealthBarTemplate.xsd"/>
	<xs:include schemaLocation="AssetTypeForceFeedbackEvent.xsd"/>
	<xs:include schemaLocation="AssetTypeTutorialData.xsd"/>
	<xs:include schemaLocation="AssetTypeUnitIntro.xsd"/>

	<xs:include schemaLocation="UI/PlayerTechStoreTemplate.xsd" />
	<xs:include schemaLocation="UI/PurchasePlayerTechButtonTemplate.xsd" />
	<xs:include schemaLocation="UI/RadiusCursor.xsd" />

	<!-- System schemas -->
	<xs:include schemaLocation="System/GameLOD.xsd"/>
	<xs:include schemaLocation="System/BaseSubsystemSettings.xsd"/>
	<xs:include schemaLocation="System/BaseSingletonSettings.xsd"/>
	<xs:include schemaLocation="System/TerrainVisualSettings.xsd"/>
	<xs:include schemaLocation="System/PathfindSettings.xsd"/>
	<xs:include schemaLocation="System/CameraSettings.xsd"/>
	<xs:include schemaLocation="System/BreezeInfo.xsd"/>
	<xs:include schemaLocation="System/AutoParticleSettings.xsd"/>
	<xs:include schemaLocation="System/W3DDeviceSettings.xsd"/>
	<xs:include schemaLocation="System/LightingSettings.xsd"/>
	<xs:include schemaLocation="Multiplayer/NetworkSettings.xsd"/>
	<xs:include schemaLocation="System/SkirmishSettings.xsd"/>
	<xs:include schemaLocation="System/ModelSettings.xsd"/>
	<xs:include schemaLocation="System/InvisibilityManagerSettings.xsd"/>
	<xs:include schemaLocation="System/GiftManagerSettings.xsd"/>
	<xs:include schemaLocation="includes/AudioSettings.xsd" />
	<xs:include schemaLocation="System/DynamicsContactTagMapping.xsd" />
	<xs:include schemaLocation="System/MissionHotSpotSettings.xsd" />
	<xs:include schemaLocation="System/TerrainParticleMapping.xsd" />
	<xs:include schemaLocation="System/OrdersManagerSettings.xsd" />
	<xs:include schemaLocation="System/TreadScrollingMapping.xsd" />
	<xs:include schemaLocation="System/BuildSystemSettings.xsd"/>
	<xs:include schemaLocation="System/ResourceSettings.xsd"/>
	<xs:include schemaLocation="System/ScorchMarkSettings.xsd"/>
	<xs:include schemaLocation="UI/WorldBuilderDecalGrid.xsd"/>

	<!-- Skirmish AI -->
	<xs:include schemaLocation="SkirmishAI/AssetTypeAIMicroManagerStates.xsd"/>
	<xs:include schemaLocation="SkirmishAI/AssetTypeAIStateDefinition.xsd"/>
	<xs:include schemaLocation="SkirmishAI/AssetTyeSkirmishOpeningMove.xsd"/>
	<xs:include schemaLocation="SkirmishAI/AssetTypeAIPersonalityDefinition.xsd"/>
	<xs:include schemaLocation="SkirmishAI/AssetTypeTargetHeuristics.xsd"/>
	<xs:include schemaLocation="SkirmishAI/AssetTypeAIMicroManager.xsd"/>
	<xs:include schemaLocation="SkirmishAI/AssetTypeArmyDefinition.xsd" />
	<xs:include schemaLocation="SkirmishAI/AIBank.xsd" />

	<!-- GameObject Modules -->

	<xs:include schemaLocation="Modules/BaseModules.xsd"/>
	<xs:include schemaLocation="Modules/Upgrade.xsd"/>
	<xs:include schemaLocation="Modules/Collide.xsd"/>

	<!-- Multiplayer -->
	<xs:include schemaLocation="Multiplayer/ConquerMode.xsd"/>

	<!-- Draw Modules -->

	<xs:include schemaLocation="Modules/ScriptedModelDraw.xsd"/>
	<xs:include schemaLocation="Modules/TankDraw.xsd"/>
	<xs:include schemaLocation="Modules/TruckDraw.xsd"/>
	<xs:include schemaLocation="Modules/PropDraw.xsd"/>
	<xs:include schemaLocation="Modules/LaserDraw.xsd"/>
	<xs:include schemaLocation="Modules/StreamDraw.xsd"/>
	<xs:include schemaLocation="Modules/TracerDraw.xsd"/>
	<xs:include schemaLocation="Modules/SpotlightDraw.xsd"/>
	<xs:include schemaLocation="Modules/DynamicsDraw.xsd"/>

	<!-- Body Modules -->

	<xs:include schemaLocation="Modules/Body.xsd"/>
	<xs:include schemaLocation="Modules/ActiveBody.xsd"/>
	<xs:include schemaLocation="Modules/ShieldBody.xsd"/>
	<xs:include schemaLocation="Modules/ImmortalBody.xsd"/>
	<xs:include schemaLocation="Modules/InactiveBody.xsd"/>
	<xs:include schemaLocation="Modules/PropBody.xsd"/>
	<xs:include schemaLocation="Modules/ManagerBody.xsd"/>
	<xs:include schemaLocation="Modules/ManagedActiveBody.xsd"/>
	<xs:include schemaLocation="Modules/ManagedImmortalBody.xsd"/>

	<xs:include schemaLocation="Modules/Create.xsd"/>
	<xs:include schemaLocation="Modules/Destroy.xsd"/>
	<xs:include schemaLocation="Modules/Damage.xsd"/>
	<xs:include schemaLocation="Modules/Damager.xsd"/>
	<xs:include schemaLocation="Modules/Die.xsd"/>
	<xs:include schemaLocation="Modules/CreateObjectDie.xsd"/>
	<xs:include schemaLocation="Modules/DestroyDie.xsd"/>
	<xs:include schemaLocation="Modules/RefundDie.xsd"/>
	<xs:include schemaLocation="Modules/Sell.xsd"/>

	<xs:include schemaLocation="Modules/SlowDeath.xsd"/>
	<xs:include schemaLocation="Modules/BezierProjectile.xsd"/>
	<xs:include schemaLocation="Modules/Building.xsd"/>
	<xs:include schemaLocation="Modules/FireWeaponCollide.xsd"/>
	<xs:include schemaLocation="Modules/EnableDynamicsCollide.xsd"/>
	<xs:include schemaLocation="Modules/FireWeaponUpdate.xsd"/>
	<xs:include schemaLocation="Modules/BombardAreaUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DamageFieldUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DieOnProducerDeathUpdate.xsd"/>
	<xs:include schemaLocation="Modules/PhysicsBehavior.xsd"/>
	<xs:include schemaLocation="Modules/CombinedInfoModule.xsd"/>
	<xs:include schemaLocation="Modules/CompositeStructureInfoModule.xsd"/>
	
	<xs:include schemaLocation="Modules/OpenContain.xsd"/>
	<xs:include schemaLocation="Modules/TransportContain.xsd"/>
	<xs:include schemaLocation="Modules/HordeTransportContain.xsd"/>
	<xs:include schemaLocation="Modules/HordeContain.xsd"/>
	<xs:include schemaLocation="Modules/GarrisonContain.xsd"/>
	<xs:include schemaLocation="Modules/HordeGarrisonContain.xsd"/>
	<xs:include schemaLocation="Modules/SlaughterHordeContain.xsd"/>
	<xs:include schemaLocation="Modules/EngineerContain.xsd"/>
	<xs:include schemaLocation="Modules/InfiltratorContain.xsd"/>
	<xs:include schemaLocation="Modules/InvalidTargetsDeathUpdate.xsd"/>
	<xs:include schemaLocation="Modules/Create.xsd"/>
	<xs:include schemaLocation="Modules/GrantUpgradeCreate.xsd"/>
	<xs:include schemaLocation="Modules/HealContain.xsd"/>
	<xs:include schemaLocation="Modules/ContestableGarrisonContain.xsd"/>

	<xs:include schemaLocation="Modules/UnitAITargetChooser.xsd"/>
	<xs:include schemaLocation="Modules/SpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/AssignSlavesTargetObjectSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/GrantUpgradeAreaOfEffectSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/SpecialPowerDispatchSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/AttackTargetSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/HordeDispatchSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/SpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ObjectStatusSpecialAbilityUpdate.xsd" />
	<xs:include schemaLocation="Modules/OCLMonitorSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/GiveUpgradeUpdate.xsd"/>
	<xs:include schemaLocation="Modules/OCLSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/TemporaryOwnerSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/PlayerUpgradeSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/SpecialPowerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/BeaconClientUpdate.xsd"/>
	<xs:include schemaLocation="Modules/MonitorConditionUpdate.xsd"/>
	<xs:include schemaLocation="Modules/MonitorSpecialPowerTimerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/BeamSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/CaptureSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/WeaponFireSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DelayedWeaponFireSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/TiberiumThiefSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SwitchLocomotorsSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ReplaceSelfSpecialAbility.xsd"/>
	<xs:include schemaLocation="Modules/AIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/LUAEventList.xsd"/>
	<xs:include schemaLocation="Modules/HeightDieUpdate.xsd"/>
	<xs:include schemaLocation="Modules/LifetimeUpdate.xsd"/>
	<xs:include schemaLocation="Modules/GatherEjectUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SqueezeFlingUpdate.xsd"/>
	<xs:include schemaLocation="Modules/MissileUpdate.xsd"/>
	<xs:include schemaLocation="Modules/OCLUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DefaultProductionExitUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ProductionUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ProductionUpdateInfoModule.xsd"/>
	<xs:include schemaLocation="Modules/SpecialDisguiseUpdate.xsd"/>
	<xs:include schemaLocation="Modules/TimedOpacityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/FreefallUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DefectorSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/ScavengerSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/DeflectSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/PlayerHealSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/RepairSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/DominateEnemySpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/ReconstituteStateSpecialAbility.xsd"/>
	<xs:include schemaLocation="Modules/FlingPassengerSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/EjectPassengersSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/GiveOrRestoreUpgradeSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/EvacuateGarrisonSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/StoreObjectsSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/CloneStoredObjectsSpecialPowerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/TeleportStoredObjectsSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/TeleportStoredObjectsUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ActivateSpecialPowerOnCreate.xsd" />
	<xs:include schemaLocation="Modules/TeleportSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ToggleDeploySpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ToggleHiddenSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ToggleStatusSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RecallUnitsSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/ReturnToProducerSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/TurretAI.xsd" />
	<xs:include schemaLocation="Modules/AssistResponseBehavior.xsd" />

	<xs:include schemaLocation="Modules/RadarHackSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/RadarJamSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/RadarSpySpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/RadarFreezeSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/CaptureAndGiveCommandSetSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/CombineSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/UncombineSpecialPower.xsd"/>

	<xs:include schemaLocation="Modules/ConstructionYardAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/FXListBehavior.xsd"/>

	<xs:include schemaLocation="Modules/ExperienceLevelCreate.xsd"/>
	<xs:include schemaLocation="Modules/InheritUpgradeCreate.xsd"/>

	<xs:include schemaLocation="Modules/UpgradeDie.xsd"/>
	<xs:include schemaLocation="Modules/KeepObjectDie.xsd"/>
	<xs:include schemaLocation="Modules/LevelGrantSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/SquishCollide.xsd"/>

	<xs:include schemaLocation="Modules/PreorderCreate.xsd"/>
	<xs:include schemaLocation="Modules/CrushDie.xsd"/>
	<xs:include schemaLocation="Modules/DamageFilteredCreateObjectDie.xsd"/>

	<xs:include schemaLocation="Modules/StopSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/SpecialPowerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/WeaponModeSpecialPowerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/HighlanderBody.xsd"/>
	<xs:include schemaLocation="Modules/ImmortalBody.xsd"/>
	<xs:include schemaLocation="Modules/ReflectDamage.xsd"/>
	<xs:include schemaLocation="Modules/DamageStateList.xsd"/>

	<xs:include schemaLocation="Modules/SpecialPowerCompletionDie.xsd"/>
	<xs:include schemaLocation="Modules/ProductionQueueHordeContain.xsd"/>
	<xs:include schemaLocation="Modules/TunnelContain.xsd"/>
	<xs:include schemaLocation="Modules/TunnelTeleportContain.xsd"/>
	<xs:include schemaLocation="Modules/TeleportToCasterSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/InvisibilitySpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/InvisibilityBehaviorModule.xsd"/>
	<xs:include schemaLocation="Modules/InvisibilityUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/CreateAndEnterObjectSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/MoveToPositionAndEvacuateSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/MoveToPositionAndReplaceSelfSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/ReturnToDockSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/BuildingDestructionBehavior.xsd"/>
	<xs:include schemaLocation="Modules/QueueDockBehavior.xsd"/>
	<xs:include schemaLocation="Modules/OreNodeBehavior.xsd"/>
	<xs:include schemaLocation="Modules/OreMinerBehavior.xsd"/>
	<xs:include schemaLocation="Modules/MovementSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/PrematureDischargeSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/GiveProductionBonusSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/WallBuilderBehavior.xsd"/>
	<xs:include schemaLocation="Modules/StrafeAreaTargetChooser.xsd"/>
	<xs:include schemaLocation="Modules/AssistedPlacementBehavior.xsd"/>
	<xs:include schemaLocation="Modules/AssistedPlacementInfoBehavior.xsd"/>
	<xs:include schemaLocation="Modules/SelectiveVisibilityBehavior.xsd"/>
	<xs:include schemaLocation="Modules/StructurePlacementBehavior.xsd"/>

	<!-- Upgrade Modules -->

	<xs:include schemaLocation="Modules/SlavedUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ArmorUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/AttributeModifierUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/CommandSetUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/LocomotorSetUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/MaxHealthUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/ModelConditionUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/ObjectCreationUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/UnpauseSpecialPowerUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/ReplaceSelfUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/InitiateRepairDie.xsd"/>
	<xs:include schemaLocation="Modules/AttributeModifierAuraUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ShieldBodyUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AudioLoopUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/DelayedUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/StatusBitsUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/ExperienceScalarUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/CostModifierUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/GarrisonUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/PowerUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/TechUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/TechUpgradeReceiver.xsd"/>
	<xs:include schemaLocation="Modules/SubStructureBuildUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/SubStructureBehavior.xsd"/>
	<xs:include schemaLocation="Modules/SubStructureStorageBehavior.xsd"/>
	<xs:include schemaLocation="Modules/StoreTemplateIDBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ReplaceDrawModuleBehavior.xsd"/>

	<!-- Update Modules -->
	<xs:include schemaLocation="Modules/SuckUpObjectsUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AutoDepositUpdate.xsd"/>
	<xs:include schemaLocation="Modules/FlammableUpdate.xsd"/>
	<xs:include schemaLocation="Modules/QueueProductionExitUpdate.xsd"/>
	<xs:include schemaLocation="Modules/TerrainResource.xsd"/>
	<xs:include schemaLocation="Modules/SubObjectsUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/GeometryUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/LevelUpUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/StealthDetectorUpdate.xsd"/>
	<xs:include schemaLocation="Modules/EmotionTrackerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/JetAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/HordeAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/Building.xsd"/>
	<xs:include schemaLocation="Modules/AttributeModifierPoolUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SpecialPowerCreate.xsd"/>
	<xs:include schemaLocation="Modules/DamageFieldUpdate.xsd"/>
	<xs:include schemaLocation="Modules/PillageModule.xsd"/>
	<xs:include schemaLocation="Modules/AnimalAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AssaultTransportAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DozerAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/BroadcastStealthUpdate.xsd"/>
	<xs:include schemaLocation="Modules/StructureUnpackUpdate.xsd"/>
	<xs:include schemaLocation="Modules/StructureSellUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SuppressionUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ClusterBombUpdate.xsd"/>
	<xs:include schemaLocation="Modules/FindCoverBehavior.xsd"/>
	<xs:include schemaLocation="Modules/AttributeModifierNaval.xsd"/>
	<xs:include schemaLocation="Modules/ShieldSphereUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SpiderHoleUpdate.xsd"/>
	<xs:include schemaLocation="Modules/LiftObjectUpdate.xsd"/>



	<xs:include schemaLocation="Modules/RandomModelCondition.xsd"/>
	<xs:include schemaLocation="Modules/TiberiumField.xsd"/>
	<xs:include schemaLocation="Modules/TiberiumCrystal.xsd"/>
	<xs:include schemaLocation="Modules/TiberiumGrowthModBehavior.xsd"/>

	<xs:include schemaLocation="Modules/RadarBehavior.xsd"/>
	<xs:include schemaLocation="Modules/DockUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SupplyTruckAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SupplyCenterCreate.xsd"/>
	<xs:include schemaLocation="Modules/GatherSlavesUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SupplyCenterDockUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SupplyWarehouseDockUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AimWeaponBehavior.xsd"/>
	<xs:include schemaLocation="Modules/DistributedMoneyBehavior.xsd"/>
	<xs:include schemaLocation="Modules/AutoAbilityBehavior.xsd"/>
	<xs:include schemaLocation="Modules/FireWeaponWhenDamagedBehavior.xsd"/>
	<xs:include schemaLocation="Modules/FireWeaponWhenDeadBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ShipSlowDeathBehavior.xsd"/>
	<xs:include schemaLocation="Modules/StancesBehavior.xsd"/>
	<xs:include schemaLocation="Modules/HelicopterSlowDeathBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ModelConditionSoundSelectorClientBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ModelConditionEvaEventSelectorClientBehavior.xsd"/>
	<xs:include schemaLocation="Modules/UpgradeSoundSelectorClientBehavior.xsd"/>
	<xs:include schemaLocation="Modules/BridgeBuilderBehavior.xsd"/>
	<xs:include schemaLocation="Modules/WanderAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DeletionUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AttachUpdate.xsd"/>
	<xs:include schemaLocation="Modules/MoneyGainAttachUpdate.xsd"/>
	<xs:include schemaLocation="Modules/LeechTargetingAttachUpdate.xsd"/>
	<xs:include schemaLocation="Modules/LineSegmentDamageUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ParabolicCurveUpdate.xsd"/>
	<xs:include schemaLocation="Modules/BoobyTrapUpdate.xsd"/>
	<xs:include schemaLocation="Modules/StealUnitUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SpawnCrateUpdate.xsd"/>
	<xs:include schemaLocation="Modules/EMPUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RadarUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AutoHealBehavior.xsd"/>
	<xs:include schemaLocation="Modules/EnergyDisablingBehavior.xsd"/>
	<xs:include schemaLocation="Modules/UnitVisionBehavior.xsd"/>
	<xs:include schemaLocation="Modules/MinefieldBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ParkingPlaceBehavior.xsd"/>
	<xs:include schemaLocation="Modules/DeployStyleAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/LaserUpdate.xsd"/>
	<xs:include schemaLocation="Modules/LaserStateModule.xsd"/>
	<xs:include schemaLocation="Modules/SweepingLaserStateModule.xsd"/>
	<xs:include schemaLocation="Modules/ConvergingLaserStateModule.xsd"/>
	<xs:include schemaLocation="Modules/StreamStateModule.xsd"/>
	<xs:include schemaLocation="Modules/ActivateModuleSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ActivateModuleSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/SwitchLocomotorUpdate.xsd"/>
	<xs:include schemaLocation="Modules/EvacuateDamage.xsd"/>
	<xs:include schemaLocation="Modules/TrackDamage.xsd"/>
	<xs:include schemaLocation="Modules/WeaponSetUpdate.xsd" />
	<xs:include schemaLocation="Modules/HordeTransportContainDamage.xsd"/>
	<xs:include schemaLocation="Modules/FiringTracker.xsd"/>
	<xs:include schemaLocation="Modules/SpecialPowerTimerRefreshSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/TransportAIUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ObjectHelper.xsd"/>
	<xs:include schemaLocation="Modules/ObjectDefectionHelper.xsd"/>
	<xs:include schemaLocation="Modules/ObjectSMCHelper.xsd"/>
	<xs:include schemaLocation="Modules/ObjectWeaponStatusHelper.xsd"/>
	<xs:include schemaLocation="Modules/HitReactionBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ReplaceObjectUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AIGateUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ClearanceTestingSlowDeathBehavior.xsd"/>
	<xs:include schemaLocation="Modules/LargeGroupAudioClientUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SupplyCenterDockUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RailedTransportDockUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RepairDockUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RepairUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SpawnBehavior.xsd"/>
	<xs:include schemaLocation="Modules/PassiveAreaEffectBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ModelConditionAudioLoopClientBehavior.xsd"/>
	<xs:include schemaLocation="Modules/GateOpenAndCloseBehavior.xsd"/>
	<xs:include schemaLocation="Modules/GateProxyBehavior.xsd"/>
	<xs:include schemaLocation="Modules/EvaAnnounceClientCreate.xsd"/>
	<xs:include schemaLocation="Modules/EvaAnnounceSpecialPowerReadyClientUpdate.xsd" />
	<xs:include schemaLocation="Modules/DynamicPortalBehaviour.xsd"/>
	<xs:include schemaLocation="Modules/DemoTrapUpdate.xsd"/>
	<xs:include schemaLocation="Modules/CrateCollide.xsd"/>
	<xs:include schemaLocation="Modules/HordeMemberCollide.xsd"/>
	<xs:include schemaLocation="Modules/HealCrateCollide.xsd"/>
	<xs:include schemaLocation="Modules/AttributeCrateCollide.xsd"/>
	<xs:include schemaLocation="Modules/RandomCrateCollide.xsd"/>
	<xs:include schemaLocation="Modules/MoneyCrateCollide.xsd"/>
	<xs:include schemaLocation="Modules/UnitCrateCollide.xsd"/>
	<xs:include schemaLocation="Modules/VeterancyCrateCollide.xsd"/>
	<xs:include schemaLocation="Modules/SalvageCrateCollide.xsd"/>
	<xs:include schemaLocation="Modules/CivilianSpawnCollide.xsd"/>
	<xs:include schemaLocation="Modules/AnimationSoundClientBehavior.xsd"/>
	<xs:include schemaLocation="Modules/RadarMarkerClientUpdate.xsd" />
	<xs:include schemaLocation="Modules/RandomSoundSelectorClientBehavior.xsd"/>
	<xs:include schemaLocation="Modules/CallHelpOnDamage.xsd"/>
	<xs:include schemaLocation="Modules/SecondaryObjectListenerModule.xsd"/>
	<xs:include schemaLocation="Modules/CashHackSpecialPower.xsd"/>
	<xs:include schemaLocation="Modules/SpawnedModelConditionCreate.xsd"/>

	<xs:include schemaLocation="Modules/NotifyTargetsOfImminentProbableCrushingUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AssistedTargetingUpdate.xsd"/>
	<xs:include schemaLocation="Modules/CaptureBehavior.xsd"/>
	<xs:include schemaLocation="Modules/StorePurchasedUpgradeBehavior.xsd"/>
	<xs:include schemaLocation="Modules/DistributeEnergyToAllies.xsd"/>
	<xs:include schemaLocation="Modules/UnifiedControlBehavior.xsd"/>
	<xs:include schemaLocation="Modules/UnifiedShroudRevealBehavior.xsd"/>
	<xs:include schemaLocation="Modules/CaptureAndGiveUpgradeBehavior.xsd"/>

	<xs:include schemaLocation="Modules/StoreCurrentStateUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SpecialPowerCreate.xsd"/>
	<xs:include schemaLocation="Modules/WallHubBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ToppleUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ToggleMountedSpecialAbilityUpdate.xsd"/>

	<xs:include schemaLocation="Modules/RunOffMapBehavior.xsd"/>

	<xs:include schemaLocation="Shell/MpGameRules.xsd"/>
	<xs:include schemaLocation="Modules/InvisibilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/InvisibilityBroadcastUpdate.xsd"/>
	<xs:include schemaLocation="Modules/PowerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/FakePathfindPortalBehaviour.xsd"/>
	<xs:include schemaLocation="Modules/PoisonedBehavior.xsd"/>
	<xs:include schemaLocation="Modules/ShareExperienceBehavior.xsd"/>
	<xs:include schemaLocation="Modules/SlaveWatcherBehavior.xsd"/>
	<xs:include schemaLocation="Modules/SupplyWarehouseCripplingBehavior.xsd"/>
	<xs:include schemaLocation="Modules/BoredUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RemoveUpgradeUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/FireSpreadUpdate.xsd"/>
	<xs:include schemaLocation="Modules/LargeGroupBonusUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SlavedUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ProneUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SecondaryDamageTracker.xsd"/>
	<xs:include schemaLocation="Modules/HijackerUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RadiateFearUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SpecialEnemySenseUpdate.xsd"/>
	<xs:include schemaLocation="Modules/StrafeAreaUpdate.xsd"/>
	<xs:include schemaLocation="Modules/OCLMonitorUpdate.xsd"/>
	<xs:include schemaLocation="Modules/TemporarilyDefectUpdate.xsd"/>
	<xs:include schemaLocation="Modules/BaseUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/CommandPointsUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/TooltipUpgrade.xsd"/>
	<xs:include schemaLocation="Modules/SupplyCenterProductionExitUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SpawnPointProductionExitUpdate.xsd"/>
	<xs:include schemaLocation="Modules/HordeNotifyTargetsOfImminentProbableCrushingUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RadarScanMapSpecialAbilityUpdate.xsd"/>
	<xs:include schemaLocation="Modules/RestrictSpecialPowerBehavior.xsd" />
	<xs:include schemaLocation="Modules/AreaRestrictSpecialPowerBehavior.xsd" />
	<xs:include schemaLocation="Modules/LinearDamageUpdate.xsd"/>
	<xs:include schemaLocation="Modules/CircularDamageUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ProjectileUpdate.xsd"/>
	<xs:include schemaLocation="Modules/SetLocomotorSpeedUpdate.xsd"/>
	<xs:include schemaLocation="Modules/DestroyObjectsUpdate.xsd"/>
	<xs:include schemaLocation="Modules/PlayerPowerManagerBehavior.xsd"/>
	<xs:include schemaLocation="Modules/DynamicsUpdate.xsd"/>
	<xs:include schemaLocation="Modules/NotifyWhenAttackingBehavior.xsd"/>
	<xs:include schemaLocation="Modules/EncloseBehavior.xsd"/>
	<xs:include schemaLocation="Modules/DestructibleEnvironmentUpdate.xsd"/>
	<xs:include schemaLocation="Modules/MagneticEffectUpdate.xsd"/>
	<xs:include schemaLocation="Modules/TrackIncomingWeaponFireBehavior.xsd"/>
	<xs:include schemaLocation="Modules/LoseHealthUpdate.xsd"/>
	<xs:include schemaLocation="Modules/WeaponScatterEffectUpdate.xsd"/>
	<xs:include schemaLocation="Modules/LaserScatterUpdate.xsd"/>
	<xs:include schemaLocation="Modules/GrapplingHookUpdate.xsd"/>
	<xs:include schemaLocation="Modules/ChargeWeaponUpdate.xsd"/>
	<xs:include schemaLocation="Modules/AssembleStructureSpecialAbilityUpdate.xsd"/>

	<!-- Data Modules -->

	<xs:include schemaLocation="Modules/BeamTargetModule.xsd"/>

	<!-- needs to go after UnitAITargetChooser.xml  -->
	<xs:include schemaLocation="System/UnitAISettings.xsd"/>

	<xs:include schemaLocation="AssetTypeGameObject.xsd"/>
	<xs:include schemaLocation="AssetTypeW3D.xsd"/>
	<xs:include schemaLocation="AssetTypeGameMap.xsd"/>
  <xs:include schemaLocation="AssetTypeStringHashEnum.xsd"/>
  <xs:include schemaLocation="AssetTypeStringHashTable.xsd"/>
	<xs:include schemaLocation="System/DamageFXSettings.xsd"/>

  <xs:element name="AssetDeclaration">
		<xs:annotation>
			<xs:documentation>Root level element for all asset declarations</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Tags"
										minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Tag"
													type="Tag"
													maxOccurs="unbounded"
													minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Includes"
										minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Include"
													type="Include"
													minOccurs="0"
													maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Defines"
										minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Define"
													type="Define"
													maxOccurs="unbounded"
													minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:choice minOccurs="0"
									 maxOccurs="unbounded">
					<!-- Pipeline test types START -->
					<!-- DO NOT REMOVE -->
					<xs:element name="TestGameObject"
											type="TestGameObject"/>
					<xs:element name="TestTexture"
											type="TestTexture"/>
					<xs:element name="TestTextureCollection"
											type="TestTextureCollection"/>
					<!-- Pipeline test types END -->
										
					<xs:element name="WeaponTemplate"
											type="WeaponTemplate" />
					<xs:element name="LocomotorTemplate"
											type="LocomotorTemplate" />
					<xs:element name="GameObject"
											balance:category="Game Object"
											type="GameObject"/>
					<xs:element name="FXParticleSystemTemplate"
											type="FXParticleSystemTemplate" />
					<xs:element name="Weather"
											type="Weather"/>
					<xs:element name="ShadowMap"
											type="ShadowMap"/>
					<xs:element name="WaterTransparency"
											type="WaterTransparency"/>
					<xs:element name="WaterSetting"
											type="WaterSetting"/>
					<xs:element name="WaterTextureList"
											type="WaterTextureList"/>
					<xs:element name="UnitAbilityButtonTemplate"
											type="UnitAbilityButtonTemplate"/>
					<xs:element name="PlayerPowerButtonTemplate"
											type="PlayerPowerButtonTemplate"/>
					<xs:element name="Texture"
											type="Texture"/>
					<xs:element name="OnDemandTexture"
											type="OnDemandTexture"/>
					<xs:element name="W3DMesh"
											type="W3DMesh"/>
					<xs:element name="W3DContainer"
											type="W3DContainer"/>
					<xs:element name="W3DHierarchy"
											type="W3DHierarchy"/>
					<xs:element name="W3DAnimation"
											type="W3DAnimation"/>
					<xs:element name="W3DCollisionBox"
											type="W3DCollisionBox"/>
					<xs:element name="ShaderOverride"
											type="ShaderOverride"/>
					<xs:element name="ArmyDefinition"
											type="ArmyDefinition" />
					<xs:element name="AIPersonalityDefinition"
											type="AIPersonalityDefinition" />
					<xs:element name="FXList"
											type="FXList" />
					<xs:element name="ObjectCreationList"
											type="ObjectCreationList" />
					<xs:element name="ObjectFilterAsset"
											type="ObjectFilterAsset" />
					<xs:element name="SpecialPowerTemplate"
											type="SpecialPowerTemplate" />
					<xs:element name="UpgradeTemplate"
											type="UpgradeTemplate" />
					<xs:element name="SkirmishOpeningMove"
											type="SkirmishOpeningMove" />
					<xs:element name="AIStateDefinition"
											type="AIStateDefinition" />
					<xs:element name="AIStrategicStateDefinition"
											type="AIStrategicStateDefinition" />
					<xs:element name="AIStrategicStateName"
											type="AIStrategicStateName" />
					<xs:element name="AIBudgetStateDefinition"
											type="AIBudgetStateDefinition" />
					<xs:element name="AIBuildStateDefinition"
											type="AIBuildStateDefinition" />
					<xs:element name="AITargetingHeuristic"
											type="AITargetingHeuristic" />
					<xs:element name="AIMicroManagerData"
											type="AIMicroManagerData" />
					<xs:element name="GameMap"
											type="GameMap" />
					<xs:element name="AttributeModifier"
											type="AttributeModifier" />
					<xs:element name="ArmorTemplate"
											type="ArmorTemplate" />
					<xs:element name="MissionTemplate"
											type="MissionTemplate" />
					<xs:element name="CampaignTemplate"
											type="CampaignTemplate" />
					<xs:element name="CampaignEnumerator"
											type="CampaignEnumerator" />
					<xs:element name="AudioFile"
											type="AudioFile" />
					<xs:element name="AudioFileMP3Passthrough"
											type="AudioFileMP3Passthrough" />
					<xs:element name="PathMusicMap" 
											type="PathMusicMap" />
					<xs:element name="PathMusicTrack" 
											type="PathMusicTrack" />
					<xs:element name="PathMusicEvent"
											type="PathMusicEvent" />
					<xs:element name="PathMusicEventSet"
											type="PathMusicEventSet" />
					<xs:element name="PathMusicGameDynamicState"
											type="PathMusicGameDynamicState" />
					<xs:element name="PathMusicGameDynamicStateSet"
											type="PathMusicGameDynamicStateSet" />
					<xs:element name="PathMusicGameDynamicTransition"
											type="PathMusicGameDynamicTransition" />
					<xs:element name="AudioEvent"
											type="AudioEvent" />
					<xs:element name="MusicTrack"
											type="MusicTrack" />
					<xs:element name="MP3MusicTrack"
											type="MP3MusicTrack" />
					<xs:element name="DialogEvent"
											type="DialogEvent" />
					<xs:element name="MP3DialogEvent"
											type="MP3DialogEvent" />
					<xs:element name="AmbientStream"
											type="AmbientStream" />
					<xs:element name="MP3AmbientStream"
											type="MP3AmbientStream" />
					<xs:element name="Multisound"
											type="Multisound" />
					<xs:element name="MusicPalette"
										  type="MusicPalette" />
					<xs:element name="MusicScriptConditionNugget_LocalPlayerIsObserver"	
											type="MusicScriptConditionNugget_LocalPlayerIsObserver" />
					<xs:element name="MusicScriptConditionNugget_UnitsFarFromBase"	
											type="MusicScriptConditionNugget_UnitsFarFromBase" />
					<xs:element name="MusicScriptConditionNugget_TimeFromStartOfLevel"	
											type="MusicScriptConditionNugget_TimeFromStartOfLevel" />
					<xs:element name="MusicScriptConditionNugget_TrackPlayedCount"	
											type="MusicScriptConditionNugget_TrackPlayedCount" />
					<xs:element name="MusicScriptConditionNugget_SpecificTrackTypePlaying"	
											type="MusicScriptConditionNugget_SpecificTrackTypePlaying" />
					<xs:element name="MusicScriptConditionNugget_AnyTrackPlaying"	
											type="MusicScriptConditionNugget_AnyTrackPlaying" />
					<xs:element name="MusicScriptConditionNugget_ObjectsOfTypeExist"	
											type="MusicScriptConditionNugget_ObjectsOfTypeExist" />
					<xs:element name="MusicScriptConditionNugget_EvaEventPlayedRecently"	
											type="MusicScriptConditionNugget_EvaEventPlayedRecently" />
					<xs:element name="MusicScriptConditionNugget_ObjectsNearEvaEvent"	
											type="MusicScriptConditionNugget_ObjectsNearEvaEvent" />
					<xs:element name="MusicScriptConditionNugget_ScoredKillCount"	
											type="MusicScriptConditionNugget_ScoredKillCount" />
					<xs:element name="MusicScriptConditionNugget_PathMusicStateLastActive"
											type="MusicScriptConditionNugget_PathMusicStateLastActive" />
					<xs:element name="MusicScriptConditionNugget_PathMusicStateCurrentlyActive"
											type="MusicScriptConditionNugget_PathMusicStateCurrentlyActive" />
					<xs:element name="MusicScriptConditionNugget_EngagementCount"
											type="MusicScriptConditionNugget_EngagementCount" />
					<xs:element name="MusicScriptConditionNugget_LocalPlayerKillRatio"
											type="MusicScriptConditionNugget_LocalPlayerKillRatio" />
					<xs:element name="MusicScriptConditionNugget_HitBySuperWeapon"
											type="MusicScriptConditionNugget_HitBySuperWeapon" />
					<xs:element name="MusicScriptConditionNugget_Not"	
											type="MusicScriptConditionNugget_Not" />
					<xs:element name="MusicScriptConditionNugget_Or"
											type="MusicScriptConditionNugget_Or" />
					<xs:element name="MusicScriptConditionNugget_And"
											type="MusicScriptConditionNugget_And" />
					<xs:element name="MusicScriptTrack"
											type="MusicScriptTrack" />
					<xs:element name="LocalBuildListMonitor"
										  type="LocalBuildListMonitor" />
					<xs:element name="MpGameRules"
											type="MpGameRules" />
					<xs:element name="ExperienceLevelTemplate"
											type="ExperienceLevelTemplate" />
					<xs:element name="StringHashTable"
											type="StringHashTable" />
					<xs:element name="DamageFX"
											type="DamageFX" />
					<xs:element name="MultiplayerSettings"
											type ="MultiplayerSettings" />
					<xs:element name="OnlineChatColors"
											type="OnlineChatColors" />
					<xs:element name="MultiplayerColor"
											type="MultiplayerColor" />
					<xs:element name="GraphicsHardware"
											type="GraphicsHardware" />
					<xs:element name="GameLODPreset"
											type="GameLODPreset" />
					<xs:element name="StaticGameLOD"
											type="StaticGameLOD" />
					<xs:element name="DynamicGameLOD"
											type="DynamicGameLOD" />
					<xs:element name="AudioLOD"
											type="AudioLOD" />
					<xs:element name="GiftManagerSettings" type="GiftManagerSettings"/>
					<xs:element name="Video" type="Video" />
					<xs:element name="VideoEventList" type="VideoEventList" />
					<xs:element name="UIConfigList" type="UIConfigList" />
					<xs:element name="PackedTextureImage" type="PackedTextureImage" />
					<xs:element name="OnDemandTextureImage" type="OnDemandTextureImage" />
					<xs:element name="TerrainTextureAtlas" type="TerrainTextureAtlas" />
					<xs:element name="Mouse" type="Mouse" />
					<xs:element name="StanceTemplate" type="StanceTemplate" />
					<xs:element name="TargetingCompareList" type="TargetingCompareList" />
					<xs:element name="TargetingDistanceCompare" type="TargetingDistanceCompare" />
					<xs:element name="TargetingCombatChainCompare" type="TargetingCombatChainCompare" />
					<xs:element name="TargetingInTurretArcCompare" type="TargetingInTurretArcCompare" />
					<xs:element name="Road" type="Road" />
					<xs:element name="Environment" type="Environment" />
					<xs:element name="LogicCommand" type="LogicCommand"/>
					<xs:element name="LogicCommandSet" type="LogicCommandSet"/>
					<xs:element name="MiscAudio" type="MiscAudio" />
					<xs:element name="AnimationSoundSettings" type="AnimationSoundSettings" />
					<xs:element name="EvaSettings" type="EvaSettings" />
					<xs:element name="EvaEvent" type="EvaEvent" />
					<xs:element name="SiegeEvaEvent" type="SiegeEvaEvent" />
					<xs:element name="MiscEvaEvents" type="MiscEvaEvents" />
					<xs:element name="AudioSettings" type="AudioSettings" />
					<xs:element name="CrowdResponse" type="CrowdResponse" />
					<xs:element name="MapMetaData" type="MapMetaData" />
					<xs:element name="LargeGroupAudioMap" type="LargeGroupAudioMap" />
					<xs:element name="AudioEventLimitGroup" type="AudioEventLimitGroup" />
					<xs:element name="AptAptData" type="AptAptData" />
					<xs:element name="AptConstData" type="AptConstData" />
					<xs:element name="AptDatData" type="AptDatData" />
					<xs:element name="AptGeometryData" type="AptGeometryData" />
					<xs:element name="MappableKey" type="MappableKey" />
					<xs:element name="HotKeySlot" type="HotKeySlot" />
					<xs:element name="DefaultHotKeys" type="DefaultHotKeys" />
					<xs:element name="DebugHotKeys" type="DebugHotKeys" />
					<xs:element name="GameScriptList" type="GameScriptList" />
					<xs:element name="IntelDB" type="IntelDB" />
					<xs:element name="BootupDisplaySequence" type="BootupDisplaySequence" />
					<xs:element name="UnitTypeIcon" type="UnitTypeIcon" />
					<xs:element name="ImageSequence" type="ImageSequence" />
					<xs:element name="UnitOverlayIconSettings" type="UnitOverlayIconSettings" />
					<xs:element name="TheVersion" type="TheVersion" />
					<xs:element name="InvisibilityTemplate" type="InvisibilityTemplate" />
					<xs:element name="EmotionTemplate" type="EmotionTemplate" />
					<xs:element name="RegisteredObjectSet" type="RegisteredObjectSet" />
					<xs:element name="AchievementEvent" type="AchievementEvent" />
					<xs:element name="MapNameToAchievementEventMapping" type="MapNameToAchievementEventMapping" />
					<xs:element name="AIPersonalityToAchievementEventMapping" type="AIPersonalityToAchievementEventMapping" />
					<xs:element name="GameplayConditionData" type="GameplayConditionData" />
					<xs:element name="GameplayAchievementTriggerData" type="GameplayAchievementTriggerData" />
					<xs:element name="EngagingContent" type="EngagingContent" />
					<xs:element name="EngagingContentGroup" type="EngagingContentGroup" />
					<xs:element name="EngagingContentSequence" type="EngagingContentSequence" />
					<xs:element name="FontDirectory" type="FontDirectory" />
					<!-- Conquer Mode -->
					<xs:element name="ConquerCardDefinitionUnit" type="ConquerCardDefinitionUnit" />
					<xs:element name="ConquerCardDefinitionStructure" type="ConquerCardDefinitionStructure" />
					<xs:element name="ConquerCardDefinitionPower" type="ConquerCardDefinitionPower" />
					<xs:element name="ConquerCardPrebuiltDeck" type="ConquerCardPrebuiltDeck" />
					<xs:element name="DLContent" type="DLContent" />
					<xs:element name="ConnectionLineManager" type="ConnectionLineManager" />
					<xs:element name="PlayerTech" type="PlayerTech"/>
					<xs:element name="PlayerTechRank" type="PlayerTechRank"/>
					<xs:element name="PlayerTechUpgradeBinding" type="PlayerTechUpgradeBinding"/>
					<xs:element name="PlayerTemplate" type="PlayerTemplate"/>
					<xs:element name="HeaderTemplate" type="HeaderTemplate"/>
					<xs:element name="DrawGroupInfo" type="DrawGroupInfo"/>
					<xs:element name="TerrainAssetCollection" type="TerrainAssetCollection"/>
					<xs:element name="TerrainParticleMapping" type="TerrainParticleMapping"/>
					<xs:element name="BounceKickTerrainMapping" type="BounceKickTerrainMapping"/>
					<xs:element name="MeshInstanceTemplate" type="MeshInstanceTemplate"/>
					<xs:element name="Language" type="Language"/>
					<xs:element name="TutorialMapData" type="TutorialMapData"/>
					<xs:element name="TerrainVisualSettings" type="TerrainVisualSettings"/>
					<xs:element name="PathfindSettings" type="PathfindSettings"/>
					<xs:element name="FormationAssistantUnitDefinition" type="FormationAssistantUnitDefinition" />
					<xs:element name="FormationAssistantTemplate" type="FormationAssistantTemplate" />
					<xs:element name="FormationSelectionTemplate" type="FormationSelectionTemplate" />
					<xs:element name="FormationAssistant" type="FormationAssistant" />
					<xs:element name="FontDefaultSetting" type="FontDefaultSetting"/>
					<xs:element name="FontTranslation" type="FontTranslation" />
					<xs:element name="FontSubstitution" type="FontSubstitution"/>
					<xs:element name="Credits" type="Credits"/>
					<xs:element name="GeneralHotKeySlots" type="GeneralHotKeySlots"/>
					<xs:element name="AIData" type="AIData"/>
					<xs:element name="MouseCursor" type="MouseCursor"/>
					<xs:element name="BasicMouseCursors" type="BasicMouseCursors"/>
					<xs:element name="UIMouseDragSelectionFeedback" type="UIMouseDragSelectionFeedback"/>
					<xs:element name="UIMouseHUDElementHotKeyGate" type="UIMouseHUDElementHotKeyGate"/>
					<xs:element name="UIMouseTacticalAttackMoveButton" type="UIMouseTacticalAttackMoveButton"/>
					<xs:element name="UIMouseTacticalBuildQueueTab" type="UIMouseTacticalBuildQueueTab"/>
					<xs:element name="UIMouseTacticalBuildQueueTypeTab" type="UIMouseTacticalBuildQueueTypeTab"/>
					<xs:element name="UIMouseTacticalCommandAttack" type="UIMouseTacticalCommandAttack"/>
					<xs:element name="UIMouseTacticalCommandAttackMove" type="UIMouseTacticalCommandAttackMove"/>
					<xs:element name="UIMouseTacticalCommandCommunicateWithAllies" type="UIMouseTacticalCommandCommunicateWithAllies"/>
					<xs:element name="UIMouseTacticalCommandDock" type="UIMouseTacticalCommandDock"/>
					<xs:element name="UIMouseTacticalCommandEnter" type="UIMouseTacticalCommandEnter"/>
					<xs:element name="UIMouseTacticalCommandForceAttack" type="UIMouseTacticalCommandForceAttack"/>
					<xs:element name="UIMouseTacticalCommandForceMove" type="UIMouseTacticalCommandForceMove"/>
					<xs:element name="UIMouseTacticalCommandGetCrate" type="UIMouseTacticalCommandGetCrate"/>
					<xs:element name="UIMouseTacticalCommandHarvest" type="UIMouseTacticalCommandHarvest"/>
					<xs:element name="UIMouseTacticalCommandMineOre" type="UIMouseTacticalCommandMineOre"/>
					<xs:element name="UIMouseTacticalCommandMisc" type="UIMouseTacticalCommandMisc"/>
					<xs:element name="UIMouseTacticalCommandMove" type="UIMouseTacticalCommandMove"/>
					<xs:element name="UIMouseTacticalCommandPlaceAIBeacon" type="UIMouseTacticalCommandPlaceAIBeacon"/>
					<xs:element name="UIMouseTacticalCommandPlaceRallyPoint" type="UIMouseTacticalCommandPlaceRallyPoint"/>
					<xs:element name="UIMouseTacticalCommandPlaceWall" type="UIMouseTacticalCommandPlaceWall"/>
					<xs:element name="UIMouseTacticalCommandReverseMove" type="UIMouseTacticalCommandReverseMove"/>
					<xs:element name="UIMouseTacticalCommandSelect" type="UIMouseTacticalCommandSelect"/>
					<xs:element name="UIMouseTacticalCommandSell" type="UIMouseTacticalCommandSell"/>
					<xs:element name="UIMouseTacticalCommandSetRallyPoint" type="UIMouseTacticalCommandSetRallyPoint"/>
					<xs:element name="UIMouseTacticalCommandToggleSelfRepair" type="UIMouseTacticalCommandToggleSelfRepair"/>
					<xs:element name="UIMouseTacticalDeactivateMissionHotSpotsButton" type="UIMouseTacticalDeactivateMissionHotSpotsButton"/>
					<xs:element name="UIMouseTacticalExitContainerButton" type="UIMouseTacticalExitContainerButton"/>
					<xs:element name="UIMouseTacticalFastForwardButton" type="UIMouseTacticalFastForwardButton"/>
					<xs:element name="UIMouseTacticalForceAttackButton" type="UIMouseTacticalForceAttackButton"/>
					<xs:element name="UIMouseTacticalForceAttackMoveButton" type="UIMouseTacticalForceAttackMoveButton"/>
					<xs:element name="UIMouseTacticalForceMoveButton" type="UIMouseTacticalForceMoveButton"/>
					<xs:element name="UIMouseTacticalGroupSelection" type="UIMouseTacticalGroupSelection"/>
					<xs:element name="UIMouseTacticalLookAt" type="UIMouseTacticalLookAt"/>
					<xs:element name="UIMouseTacticalMainCommandBarHotKeys" type="UIMouseTacticalMainCommandBarHotKeys"/>
					<xs:element name="UIMouseTacticalMiscHotKeys" type="UIMouseTacticalMiscHotKeys"/>
					<xs:element name="UIMouseTacticalOpenAdvancedCommandsButton" type="UIMouseTacticalOpenAdvancedCommandsButton"/>
					<xs:element name="UIMouseTacticalPauseButton" type="UIMouseTacticalPauseButton"/>
					<xs:element name="UIMouseTacticalPlanningModeButton" type="UIMouseTacticalPlanningModeButton"/>
					<xs:element name="UIMouseTacticalPlayerPowerHotKeys" type="UIMouseTacticalPlayerPowerHotKeys"/>
					<xs:element name="UIMouseTacticalPlayerTechStoreButton" type="UIMouseTacticalPlayerTechStoreButton"/>
					<xs:element name="UIMouseTacticalRadarTelestrator" type="UIMouseTacticalRadarTelestrator"/>
					<xs:element name="UIMouseTacticalReverseMoveButton" type="UIMouseTacticalReverseMoveButton"/>
					<xs:element name="UIMouseTacticalSelectionDetailsButtonHotKeys" type="UIMouseTacticalSelectionDetailsButtonHotKeys"/>
					<xs:element name="UIMouseTacticalSelectionRefinementTab" type="UIMouseTacticalSelectionRefinementTab"/>
					<xs:element name="UIMouseTacticalSellModeButton" type="UIMouseTacticalSellModeButton"/>
					<xs:element name="UIMouseTacticalSetStanceButton" type="UIMouseTacticalSetStanceButton"/>
					<xs:element name="UIMouseTacticalStopButton" type="UIMouseTacticalStopButton"/>
					<xs:element name="UIMouseTacticalTelestrator" type="UIMouseTacticalTelestrator"/>
					<xs:element name="UIMouseTacticalThreatMeter" type="UIMouseTacticalThreatMeter"/>
					<xs:element name="UIMouseTacticalToggleRepairModeButton" type="UIMouseTacticalToggleRepairModeButton"/>
					<xs:element name="UIMouseTacticalUnitIntroButton" type="UIMouseTacticalUnitIntroButton"/>
					<xs:element name="UIMouseTacticalWaypointModeButton" type="UIMouseTacticalWaypointModeButton"/>
					<xs:element name="UIMouseTacticalCoOpAIButtonsAssaultButton" type="UIMouseTacticalCoOpAIButtonsAssaultButton"/>
					<xs:element name="UIMouseTacticalCoOpAIButtonsHelpButton" type="UIMouseTacticalCoOpAIButtonsHelpButton"/>
					<xs:element name="UIMouseTacticalCoOpAIButtonsHoldObjectButton" type="UIMouseTacticalCoOpAIButtonsHoldObjectButton"/>
					<xs:element name="UIMouseTacticalCoOpAIButtonsHoldPositionButton" type="UIMouseTacticalCoOpAIButtonsHoldPositionButton"/>
					<xs:element name="UIMouseTacticalCoOpAIButtonsNormalButton" type="UIMouseTacticalCoOpAIButtonsNormalButton"/>
					<xs:element name="UIMouseTacticalQuickChatDisplay" type="UIMouseTacticalQuickChatDisplay"/>
					<xs:element name="UIMouseVoiceChat" type="UIMouseVoiceChat"/>
					<xs:element name="UIQuickChatMessage" type="UIQuickChatMessage"/>
					<xs:element name="BreezeInfo" type="BreezeInfo"/>
					<xs:element name="CameraSettings" type="CameraSettings"/>
					<xs:element name="W3DDeviceSettings" type="W3DDeviceSettings"/>
					<xs:element name="UnitAISettings" type="UnitAISettings"/>
					<xs:element name="DamageFXSettings" type="DamageFXSettings"/>
					<xs:element name="NetworkSettings" type="NetworkSettings"/>
					<xs:element name="AutoParticleSystemSettings" type="AutoParticleSystemSettings"/>
					<xs:element name="LightingSettings" type="LightingSettings"/>
					<xs:element name="SkirmishSettings" type="SkirmishSettings"/>
					<xs:element name="ModelSettings" type="ModelSettings"/>
					<xs:element name="InvisibilityManagerSettings" type="InvisibilityManagerSettings"/>
					<xs:element name="RedAlertTemplate" type="RedAlertTemplate" />
					<xs:element name="ButtonSingleStateData" type="ButtonSingleStateData" />
					<xs:element name="JoypadCommandBarTemplate" type="JoypadCommandBarTemplate" />
					<xs:element name="JoypadCommandBarButtonTemplate" type="JoypadCommandBarButtonTemplate" />
					<xs:element name="UIJoypadCommandBarCoopCommunicator" type="UIJoypadCommandBarCoopCommunicator" />
					<xs:element name="UIJoypadCommandBarButtonBuild" type="UIJoypadCommandBarButtonBuild" />
					<xs:element name="UIJoypadCommandBarControlGroups" type="UIJoypadCommandBarControlGroups" />
					<xs:element name="UIJoypadCommandBarHomogenousGroup" type="UIJoypadCommandBarHomogenousGroup" />
					<xs:element name="UIJoypadCommandBarPlayerPowers" type="UIJoypadCommandBarPlayerPowers" />
					<xs:element name="UIJoypadCommandBarMixedGroup" type="UIJoypadCommandBarMixedGroup" />
					<xs:element name="UIJoypadCommandBarSingleUnit" type="UIJoypadCommandBarSingleUnit" />
					<xs:element name="UIJoypadCommandBarStances" type="UIJoypadCommandBarStances" />
					<xs:element name="UIJoypadCommandBarTopMenu" type="UIJoypadCommandBarTopMenu" />
					<xs:element name="UICommandButton" type="UICommandButton"/>
					<xs:element name="UIDecalCloud" type="UIDecalCloud" />
					<xs:element name="UIDecalDestinationMarker" type="UIDecalDestinationMarker" />
					<xs:element name="UIDecalGrid" type="UIDecalGrid" />
					<xs:element name="UIFloatingTextDisplay" type="UIFloatingTextDisplay" />
					<xs:element name="UIMessageDisplay" type="UIMessageDisplay" />
					<xs:element name="UIMilitaryCaptionDisplay" type="UIMilitaryCaptionDisplay" />
					<xs:element name="UIRadarObjectsLayer" type="UIRadarObjectsLayer" />
					<xs:element name="UISubtitleDisplay" type="UISubtitleDisplay" />
					<xs:element name="UITimerDisplay" type="UITimerDisplay" />
					<xs:element name="UICoopTinting" type="UICoopTinting" />
					<xs:element name="DynamicsContactTagMapping" type="DynamicsContactTagMapping"/>
					<xs:element name="MissionHotSpotSettings" type="MissionHotSpotSettings"/>
					<xs:element name="OrdersManagerSettings" type="OrdersManagerSettings"/>
					<xs:element name="BuildSystemSettings" type="BuildSystemSettings"/>
					<xs:element name="ScorchMarkSettings" type="ScorchMarkSettings"/>
					<xs:element name="ResourceSettings" type="ResourceSettings"/>
					<xs:element name="PlayerTechStoreTemplate" type="PlayerTechStoreTemplate"/>
					<xs:element name="PurchasePlayerTechButtonTemplate" type="PurchasePlayerTechButtonTemplate"/>
					<xs:element name="UIWorldBuilderDecalGrid" type="UIWorldBuilderDecalGrid"/>
					<xs:element name="ProjectilePath" type="ProjectilePath"/>
					<xs:element name="RadarTerrainImage" type="RadarTerrainImage"/>
					<xs:element name="AssetReportTable" type="AssetReportTable"/>
					<xs:element name="HealthBarTemplate" type="HealthBarTemplate"/>
					<xs:element name="HealthBarSettings" type="HealthBarSettings"/>
					<xs:element name="RadiusCursor" type="RadiusCursor"/>
					<xs:element name="ForceFeedbackEvent" type="ForceFeedbackEvent"/>
					<xs:element name="UnitIntro" type="UnitIntro"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
