schemas/kw/xsd/Modules/TiberiumFieldModBehavior.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:ea.com:eala:asset" xmlns:at="uri:ea.com:eala:asset:type" xmlns:xas="uri:ea.com:eala:asset:schema" targetNamespace="uri:ea.com:eala:asset" elementFormDefault="qualified" xmlns:XmlEdit="http://tempuri.org/XmlEdit.xsd">


	<xs:complexType name="TiberiumFieldModBehaviorModuleData">
		<xs:complexContent>
			<xs:extension base="DieModuleData">
				<xs:attribute name="ObjectStatus" type="ObjectStatusBitFlags" />
				<xs:attribute name="ModelCondition" type="ModelConditionBitFlags" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
