schemas/kw/xsd/Modules/UpgradeContainerOnContain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:ea.com:eala:asset" xmlns:at="uri:ea.com:eala:asset:type" xmlns:xas="uri:ea.com:eala:asset:schema" targetNamespace="uri:ea.com:eala:asset" elementFormDefault="qualified" xmlns:XmlEdit="http://tempuri.org/XmlEdit.xsd">
 
  <xs:complexType name="UpgradeContainerOnContainModuleData">
    <xs:sequence>
      <xs:element name="UnitFilter" type="ObjectFilter" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="UpgradeList" type="UpgradeTemplateRef" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:string" />
  </xs:complexType>
</xs:schema>