schemas/kw/xsd/AssetTypeMetaGameStatic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:ea.com:eala:asset" xmlns:at="uri:ea.com:eala:asset:type" xmlns:xas="uri:ea.com:eala:asset:schema" targetNamespace="uri:ea.com:eala:asset" elementFormDefault="qualified" xmlns:XmlEdit="http://tempuri.org/XmlEdit.xsd">

  <xs:complexType name="MetaGameStaticData" xas:runtimeWrapper="::MetaGameStaticData">
    <xs:complexContent>
      <xs:extension base="BaseAssetType">
        <xs:sequence>
          <xs:element name="ColorOfOPSpendText" type="Color4" />
          <xs:element name="ColorOfOPRefundText" type="Color4" />
          <xs:element name="ColorOfGDIBonusText" type="Color4" />
          <xs:element name="ColorOfNODBonusText" type="Color4" />
          <xs:element name="ColorOfALIENBonusText" type="Color4" />
          <xs:element name="ColorOfGDIGatherText" type="Color4" />
          <xs:element name="ColorOfNODGatherText" type="Color4" />
          <xs:element name="ColorOfALIENGatherText" type="Color4" />
        </xs:sequence>

        <xs:attribute name="TiberiumAveragingRange" type="SageReal" default="50.0" />
        <xs:attribute name="GreenZoneCutoff" type="SageReal" default="0.3333333" />
        <xs:attribute name="YellowZoneCutoff" type="SageReal" default="0.6666666" />
        
        <xs:attribute name="BattleMarker" type="AssetId" default="Marker_Battle" />
        <xs:attribute name="AutoresolveDamageofBase" type="SageReal" default="7.0" />
        <xs:attribute name="MaxAutoresolveAttacksPerBase" type="SageUnsignedInt" default="12" />

        <xs:attribute name="MarkerOffsetDistance" type="SageReal" default="2.0" />
        <xs:attribute name="MoveLineTextureDistance" type="SageReal" default="50.0" />
        <xs:attribute name="MoveLineWidth" type="SageReal" default="5.0" />
        <xs:attribute name="MoveTurnMarker" type="xs:string" default="Marker_MoveTurn" />
        <xs:attribute name="MoveLineTexture" type="AssetId" default="FXDestinationLine" />

        <!-- MetaGame EVA events -->
        <xs:attribute name="PlayerAtNegativeOpsPointsEvent" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_ASATDefensesComplete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_ASATDefensesDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_AutoResolve" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_AutoResolveBattleLost" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_AutoResolveBattleWon" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_BadDestination" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_BaseAttacked" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_BaseDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_BattleHappens" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_BattlePhaseNo" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_BattlePhaseYes" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_BuildBase" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_BuildSF" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_BuildStratBldg" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_Cancel" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_DecBase" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_DecSF" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_DeploySF" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_EnemyBaseKill" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_EnemyBaseSigh" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_EnemyUnitSigh" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_EradicatorBuild" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_EradicatorDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_EradicatorReady" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_GDIElim" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_IntelCenterComplete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_IntelCenterDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_LifeRecyclePlantComplete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_LifeRecyclePlantDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_MARVBuild" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_MARVDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_MARVReady" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_MoveSF" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_NewPowersAv" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_NoBattles" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_NoComply" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_NodElim" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_OpsPhaseEnd" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_OpsPhaseStart" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_Patrola" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_Patrolb" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_PortCaptured" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_PropCenterComplete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_PropCenterDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_ReclamatorHubComplete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_ReclamatorHubDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_RedeemerBuild" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_RedeemerDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_RedeemerReady" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_RepairBase" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_RepairSF" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_RiftGeneratorComplete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_RiftGeneratorDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_ScrinElim" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_SecoObjAchiev" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_SFBaseKill" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_SFLost" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_SignalTowerComplete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_SignalTowerDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_StartBattle" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_StratBldgComplete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_StratBldgDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_SWHitYou" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_TempleOfNodComplete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_TempleOfNodDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_DisruptionArrayComplete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_DisruptionArrayDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_TerraNexusComplete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_TerraNexusDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_TiberiumForgeComplete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_TiberiumForgeDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_TibProcessingPlantComplete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_TibProcessingPlantDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_TowerCapture" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_TowerDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_UpgBaseDef" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_UpgBasePow" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_UpgBaseTier" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_UpgSF" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_WarmechFacilityComplete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_WarmechFacilityDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_WarnSuperDete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_WarpNimbusComplete" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_WarpNimbusDestroyed" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_YouFiredIC" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_YouFiredNuke" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_YouFiredRift" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_YouResign" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_EnemyIonDetected" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_EnemyTempleDetected" type="EvaEventIDType" default="EVA_INVALID" />
        <xs:attribute name="Meva_EnemyRiftDetected" type="EvaEventIDType" default="EVA_INVALID" />

        <!-- victory conditions for the 3 factions listed below -->
        <xs:attribute name="NOD_TibLevel_Min" type="SageReal" default="0.0" />
        <xs:attribute name="NOD_TibLevel_Max" type="SageReal" default="0.0" />
        <xs:attribute name="NOD_PopLevel_Min" type="SageReal" default="0.67" />
        <xs:attribute name="NOD_PopLevel_Max" type="SageReal" default="1.00" />
        <xs:attribute name="NOD_UnrestLevel_Min" type="SageReal" default="0.67" />
        <xs:attribute name="NOD_UnrestLevel_Max" type="SageReal" default="1.0" />
        <xs:attribute name="NOD_MinOwnedAlienTowers" type="SageInt" default="4" />


        <xs:attribute name="GDI_TibLevel_Min" type="SageReal" default="0.25" />
        <xs:attribute name="GDI_TibLevel_Max" type="SageReal" default="0.0" />
        <xs:attribute name="GDI_PopLevel_Min" type="SageReal" default="0.0" />
        <xs:attribute name="GDI_PopLevel_Max" type="SageReal" default="0.0" />
        <xs:attribute name="GDI_UnrestLevel_Min" type="SageReal" default="0.33" />
        <xs:attribute name="GDI_UnrestLevel_Max" type="SageReal" default="0.0" />
        <xs:attribute name="GDI_MinDestroiedAlienTowers" type="SageInt" default="4" />

        <xs:attribute name="SCRIN_TibLevel_Min" type="SageReal" default="0.8" />
        <xs:attribute name="SCRIN_TibLevel_Max" type="SageReal" default="1.0" />
        <xs:attribute name="SCRIN_PopLevel_Min" type="SageReal" default="0.33" />
        <xs:attribute name="SCRIN_PopLevel_Max" type="SageReal" default="0.0" />
        <xs:attribute name="SCRIN_UnrestLevel_Min" type="SageReal" default="0.0" />
        <xs:attribute name="SCRIN_UnrestLevel_Max" type="SageReal" default="0.0" />
        <xs:attribute name="SCRIN_MinOwnedAlienTowers" type="SageInt" default="4" />
        
        <!-- New Victory Conditions -->
        <xs:attribute name="GDIPercentOfWorldOwned" type="Percentage" default="50%" />
        <xs:attribute name="NODPercentOfCitiesAt100Unrest" type="Percentage" default="50%" />
        <xs:attribute name="ALIENNumberOfTowersOwned" type="SageReal" default="4.0" />

        <xs:attribute name="GDIPercentOfWorldOwnedEASY" type="Percentage" default="25%" />
        <xs:attribute name="NODPercentOfCitiesAt100UnrestEASY" type="Percentage" default="25%" />
        <xs:attribute name="ALIENNumberOfTowersOwnedEASY" type="SageReal" default="2.0" />
        
        <xs:attribute name="GDIPercentOfWorldOwnedHARD" type="Percentage" default="75%" />
        <xs:attribute name="NODPercentOfCitiesAt100UnrestHARD" type="Percentage" default="75%" />
        <xs:attribute name="ALIENNumberOfTowersOwnedHARD" type="SageReal" default="8.0" />
        
        <!-- Strike Force Build Parameters -->
        <xs:attribute name="SFBuildLightPowerTemplate" type="SpecialPowerTemplateRef" use="required" />
        <xs:attribute name="SFBuildMediumPowerTemplate" type="SpecialPowerTemplateRef" use="required" />
        <xs:attribute name="SFBuildHeavyPowerTemplate" type="SpecialPowerTemplateRef" use="required" />
        <xs:attribute name="SFBuildMetaPowerTemplate" type="SpecialPowerTemplateRef" use="required" />
        <xs:attribute name="SFBuildValidCursor" type="xs:string" />
        <xs:attribute name="SFBuildInvalidCursor" type="xs:string" />
        <xs:attribute name="SFBuildRadiusCursor" type="AssetId" />


        <xs:attribute name="MetaGDIIonBlastTier2BaseDestruction" type="Percentage" default="75" />
        <xs:attribute name="MetaGDIIonBlastTier3BaseDestruction" type="Percentage" default="50" />
        <xs:attribute name="MetaGDIIonBlastMediumStrikeForceDestruction" type="Percentage" default="75" />
        <xs:attribute name="MetaGDIIonBlastHeavyStrikeForceDestruction" type="Percentage" default="50" />
        <xs:attribute name="MetaGDIIonBlastMetaUnitStrikeForceDestruction" type="Percentage" default="75" />
        
        <xs:attribute name="MetaGDIOrcaStrikeLightStrikeForceDestruction" type="Percentage" default="100" />
        <xs:attribute name="MetaGDIOrcaStrikeMediumStrikeForceDestruction" type="Percentage" default="75" />
        <xs:attribute name="MetaGDIOrcaStrikeHeavyStrikeForceDestruction" type="Percentage" default="50" />
        <xs:attribute name="MetaGDIOrcaStrikeMetaUnitStrikeForceDestruction" type="Percentage" default="75" />

        <xs:attribute name="MetaGDIRefugeeAidUnrestModificationAmount" type="SageReal" default="-10.0"/>
        <!-- Depracated! -->
        <xs:attribute name="MetaGDIOrcaStrikeNumberOfBuildingsToDestroy" type="SageInt" default="1" />
        <xs:attribute name="MetaGDIStateOfEmergencyNumberOfOPToGive" type="SageInt" default="6" />
        <xs:attribute name="MetaGDIStateOfEmergenctNumberOfOPToTake" type="SageInt" default="3" />
        <!-- End Depracated -->
        <xs:attribute name="MetaGDIEmergencyCleanupAmountToDamageTiberiumBy" type="SageReal" default="-250.0" />
        <xs:attribute name="MetaGDIZOCOMInfiltrationAmountToDamageTiberiumBy" type="SageReal" default="-250.0" />
        <xs:attribute name="MetaGDIZOCOMInfiltrationPercentOfDamageToBase" type="Percentage" default="25" />
        <xs:attribute name="MetaGDIZOCOMInfiltrationPercentOfDamageToStrikeForce" type="Percentage" default="25" />

        <xs:attribute name="MetaNODRaiseInsurrectionUnrestModifier" type="SageReal" default="25.0" />
        <xs:attribute name="MetaNODTiberiumProductionSurgeTiberiumModifier" type="Percentage" default="-20" />
        <xs:attribute name="MetaNODTiberiumProductionSurgeOPModifier" type="SageInt" default="2" />
        <!-- Depracated! -->
        <xs:attribute name="MetaNODVertigoStrikeNumberOfBuildingsToDestroy" type="SageInt" default="1" />
        <!-- End Depracated -->
        <xs:attribute name="MetaNODTheFuryOfNodUnrestModifier" type="SageReal" default="25.0" />
        <xs:attribute name="MetaNODTheFuryOfNodPercentageOfTroopDamage" type="Percentage" default="25" />
        <xs:attribute name="MetaNODSabotageChanceOfSuccess" type="SageReal" default="50.0" />

        <xs:attribute name="MetaNODNuclearMissleTier2BaseDestruction" type="Percentage" default="75" />
        <xs:attribute name="MetaNODNuclearMissleTier3BaseDestruction" type="Percentage" default="50" />
        <xs:attribute name="MetaNODNuclearMissleMediumStrikeForceDestruction" type="Percentage" default="75" />
        <xs:attribute name="MetaNODNuclearMissleHeavyStrikeForceDestruction" type="Percentage" default="50" />
        <xs:attribute name="MetaGNODNuclearMissleMetaUnitStrikeForceDestruction" type="Percentage" default="75" />

        <xs:attribute name="MetaNODVertigoStrikeLightStrikeForceDestruction" type="Percentage" default="100" />
        <xs:attribute name="MetaNODVertigoStrikeMediumStrikeForceDestruction" type="Percentage" default="75" />
        <xs:attribute name="MetaNODVertigoStrikeHeavyStrikeForceDestruction" type="Percentage" default="50" />
        <xs:attribute name="MetaGNODVertigoStrikeMetaUnitStrikeForceDestruction" type="Percentage" default="75" />
        
        <xs:attribute name="MetaSCRINEradicatePopulationModifier" type="SageReal" default="-1000.0" />
        <xs:attribute name="MetaSCRINIchorInjectionTiberiumModifier" type="SageReal" default="250.0" />

        <xs:attribute name="StartingPlayerOpsPoints" type="SageUnsignedInt" default="10" />
        <!-- not used -->
        <xs:attribute name="StartingPlayerMaxTiberium" type="SageUnsignedInt" default="10000000" />
        <xs:attribute name="StartingPlayerTiberium" type="SageUnsignedInt" default="10000" />
        <xs:attribute name="StartingPlayerFREETiberiumPerTurn" type="SageUnsignedInt" default="1000" />



        <xs:attribute name="MetaSCRINIonSuperStormBaseDestruction" type="Percentage" default="25" />
        <xs:attribute name="MetaSCRINIonSuperStormStrikeForceDestruction" type="Percentage" default="25" />
        <xs:attribute name="MetaSCRINPlanetaryBombardmentBaseDestruction" type="Percentage" default="20" />
        <xs:attribute name="MetaSCRINPlanetaryBombardmentStrikeForceDestruction" type="Percentage" default="20" />
        <xs:attribute name="MetaSCRINPlanetaryBombardmentPopulationReductionPercent" type="Percentage" default="10" />

        <xs:attribute name="MetaSCRINRiftGeneratorTier2BaseDestruction" type="Percentage" default="75" />
        <xs:attribute name="MetaSCRINRiftGeneratorTier3BaseDestruction" type="Percentage" default="50" />
        <xs:attribute name="MetaSCRINRiftGeneratorMediumStrikeForceDestruction" type="Percentage" default="75" />
        <xs:attribute name="MetaSCRINRiftGeneratorHeavyStrikeForceDestruction" type="Percentage" default="50" />
        <xs:attribute name="MetaSCRINRiftGeneratorMetaUnitStrikeForceDestruction" type="Percentage" default="75" />

        <xs:attribute name="SummonSFBlackHandT1" type="xs:string" />
        <xs:attribute name="SummonSFBlackHandT2" type="xs:string" />
        <xs:attribute name="SummonSFBlackHandT3" type="xs:string" />
        <xs:attribute name="SummonSFMarkedOfKane" type="xs:string" />
        <xs:attribute name="SummonSFKaneLives" type="xs:string" />
        <xs:attribute name="SummonSFSpecialForces" type="xs:string" />
        <xs:attribute name="SummonSFAlienDropship" type="xs:string" />


        <xs:attribute name="MaximumAOIRadius" type="SageReal" default="350" />

        <!-- These allow a base to ignore the script SET_DISABLE_STRATEGIC_BUILDING -->
        <xs:attribute name="AllowStratBuilding1Upgrade" type="UpgradeTemplateWeakRef" />
        <xs:attribute name="AllowStratBuilding2Upgrade" type="UpgradeTemplateWeakRef" />
        <xs:attribute name="AllowStratBuilding3Upgrade" type="UpgradeTemplateWeakRef" />
        <xs:attribute name="AllowStratBuilding4Upgrade" type="UpgradeTemplateWeakRef" />
        <xs:attribute name="AllowStratBuilding5Upgrade" type="UpgradeTemplateWeakRef" />


        <xs:attribute name="GDI_TempAirfield" type="WeakReference" xas:refType="GameObject" />
        <xs:attribute name="STEEL_TempAirfield" type="WeakReference" xas:refType="GameObject" />
        <xs:attribute name="ZOCOM_TempAirfield" type="WeakReference" xas:refType="GameObject" />
        <xs:attribute name="NOD_TempAirfield" type="WeakReference" xas:refType="GameObject" />
        <xs:attribute name="BHAND_TempAirfield" type="WeakReference" xas:refType="GameObject" />
        <xs:attribute name="MARKED_TempAirfield" type="WeakReference" xas:refType="GameObject" />

        <xs:attribute name="GDI_TempBaseHub" type="WeakReference" xas:refType="GameObject" />
        <xs:attribute name="STEEL_TempBaseHub" type="WeakReference" xas:refType="GameObject" />
        <xs:attribute name="ZOCOM_TempBaseHub" type="WeakReference" xas:refType="GameObject" />
        <xs:attribute name="NOD_TempBaseHub" type="WeakReference" xas:refType="GameObject" />
        <xs:attribute name="BHAND_TempBaseHub" type="WeakReference" xas:refType="GameObject" />
        <xs:attribute name="MARKED_TempBaseHub" type="WeakReference" xas:refType="GameObject" />

        <xs:attribute name="GDI_Rig" type="WeakReference" xas:refType="GameObject" />
        <xs:attribute name="GDI_BattleBase" type="WeakReference" xas:refType="GameObject" />
        <xs:attribute name="STEEL_Rig" type="WeakReference" xas:refType="GameObject" />
        <xs:attribute name="STEEL_BattleBase" type="WeakReference" xas:refType="GameObject" />
        <xs:attribute name="ZOCOM_Rig" type="WeakReference" xas:refType="GameObject" />
        <xs:attribute name="ZOCOM_BattleBase" type="WeakReference" xas:refType="GameObject" />

        <!-- Values used to estimate value of base placement -->
        <xs:attribute name="BasePlacementRadius" type="SageReal" />
        <xs:attribute name="BaseStartingValue" type="SageReal" />
        <xs:attribute name="TiberiumPointValue" type="SageInt" />
        <xs:attribute name="CityPointValue" type="SageInt" />
        <xs:attribute name="HighPointThreshold" type="SageInt" />
        <xs:attribute name="LowPointThreshold" type="SageInt" />

        <!-- Economy Values -->
        <xs:attribute name="MinTiberiumValueOfNode" type="SageReal" default="25.0" />
        <xs:attribute name="TiberiumValueOfNode" type="SageReal" default="100.0" />

      	<xs:attribute name="SkirmishLoadingScreen" type="xs:string" default="" />
        <xs:attribute name="MetaGameLoadingMusic" type="AudioEventInfoRef" use="optional" />
        <!-- timers for metagame blinkies -->

        <xs:attribute name="PopulationBlinkieDisplay" type="SageInt" default="180" />
        <xs:attribute name="UnrestBlinkieDisplay" type="SageInt" default="180" />
        <xs:attribute name="BonusAlerts" type="SageInt" default="180" />
        <xs:attribute name="BaseGather" type="SageInt" default="180" />
        <xs:attribute name="UnresolvedBattle" type="SageInt" default="900" />

        <!-- metagame tiberium growth data -->
        <xs:attribute name="TiberiumGrowthThresholdPercent" type="SageReal" default="0.8" />
        <xs:attribute name="TiberiumAdjacencyDist" type="SageReal" default="200.0" />
        <xs:attribute name="TiberuimGrowthAmount" type="SageReal" default="-100.0" />

        <!-- MetaGame camera movement speed controls -->
        <xs:attribute name="CamMoveSpeedMult" type="SageReal" default="0.3" />
        <xs:attribute name="CamEaseInPct" type="SageReal" default="0.0" />
        <xs:attribute name="CamEaseOutPct" type="SageReal" default="0.7" />
        
        <xs:attribute name="MGAIBaseValue0" type="SageInt" default="100" />
        <xs:attribute name="MGAIBaseValue1" type="SageInt" default="250" />
        <xs:attribute name="MGAIBaseValue2" type="SageInt" default="500" />
        <xs:attribute name="MGAIBaseValue3" type="SageInt" default="750" />
        <xs:attribute name="MGAIBaseValue4" type="SageInt" default="1000" />
        <xs:attribute name="MGAIBaseValue5" type="SageInt" default="1500" />
        <xs:attribute name="MGAIBaseValue6" type="SageInt" default="2000" />

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>

