schemas/ra3/xsd/Includes/Ref.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:ea.com:eala:asset" xmlns:at="uri:ea.com:eala:asset:type" xmlns:xas="uri:ea.com:eala:asset:schema" targetNamespace="uri:ea.com:eala:asset" elementFormDefault="qualified" xmlns:XmlEdit="uri:ea.com:eala:XmlEdit">

	<xs:simpleType name="BaseAssetReference"
								 xas:isRef="true"
								 xas:refType="BaseAssetType">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="FXListRef"
								 xas:refType="FXList">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>
	
	<xs:simpleType name="FXListWeakRef"
								 xas:refType="FXList">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="FXParticleSystemRef"
								 xas:refType="FXParticleSystemTemplate">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="FXParticleSystemWeakRef"
								 xas:refType="FXParticleSystemTemplate">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="WeaponRef"
								 xas:isRef="true"
								 xas:refType="WeaponTemplate">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>
	
	<xs:simpleType name="WeaponWeakRef" 
								 xas:refType="WeaponTemplate">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="ArmorRef"
								 xas:isRef="true"
								 xas:refType="ArmorTemplate">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="ObjectCreationListRef"
								 xas:isRef="true"
								 xas:refType="ObjectCreationList">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>


	<xs:simpleType name="GameObjectRef"
								 xas:isRef="true"
								 xas:refType="GameObject">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="GameObjectWeakRef"
								 xas:isWeakRef="true"
								 xas:refType="GameObject">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="UpgradeTemplateRef"
								 xas:isRef="true"
								 xas:refType="UpgradeTemplate">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="UpgradeTemplateWeakRef"
								 xas:isWeakRef="true"
								 xas:refType="UpgradeTemplate">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="SpecialPowerTemplateRef"
								 xas:isRef="true"
								 xas:refType="SpecialPowerTemplate">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="RenderObjectRef"
								 xas:isRef="true"
								 xas:refType="BaseRenderAssetType">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="TextureRef"
								 xas:isRef="true"
								 xas:refType="Texture">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="OnDemandTextureRef"
								xas:isRef="true"
								xas:refType="OnDemandTexture">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="EngagingContentRef"
								xas:isRef="true"
								xas:refType="EngagingContent">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="EngagingContentGroupRef"
								xas:isRef="true"
								xas:refType="EngagingContentGroup">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="GameplayConditionDataRef"
								xas:isRef="true"
								xas:refType="GameplayConditionData">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="AIPersonalityDefinitionRef"
								xas:isRef="true"
								xas:refType="AIPersonalityDefinition">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="SpecialPowerRef"
								 xas:isRef="true"
								 xas:refType="SpecialPowerTemplate">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="AttributeModifierRef" xas:isRef="true" xas:refType="AttributeModifier">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="StanceTemplateRef" xas:isRef="true" xas:refType="StanceTemplate">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="SpecialPowerWeakRef"
								 xas:isWeakRef="true"
								 xas:refType="SpecialPowerTemplate">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>
	
	<xs:simpleType name="LocomotorTemplateRef"
								 xas:isRef="true"
								 xas:refType="LocomotorTemplate">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>
	
	<xs:simpleType name="ImageRef"
								 xas:isRef="true"
								 xas:refType="PackedTextureImage">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="ImageWeakRef"
								 xas:isRef="true"
								 xas:refType="PackedTextureImage">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="OnDemandImageRef"
								 xas:isRef="true"
								 xas:refType="OnDemandTextureImage">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="OnDemandImageWeakRef"
								 xas:isRef="true"
								 xas:refType="OnDemandTextureImage">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="LogicCommandRef"
								 xas:isRef="true"
								 xas:refType="LogicCommand">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="LogicCommandWeakRef"
								 xas:isRef="true"
								 xas:refType="LogicCommand">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>
	
	<xs:simpleType name="LogicCommandSetRef"
								 xas:isRef="true"
								 xas:refType="LogicCommandSet">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="LogicCommandSetWeakRef"
								 xas:isRef="true"
								 xas:refType="LogicCommandSet">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="CrowdResponseTemplateRef"
								 xas:isRef="true"
								 xas:refType="CrowdResponse">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="MappableKeyRef"
								 xas:isRef="true"
								 xas:refType="MappableKey">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="HotKeySlotRef"
								 xas:isRef="true"
								 xas:refType="HotKeySlot">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="UnitTypeIconRef"
								xas:isRef="true"
								xas:refType="UnitTypeIcon">
		<xs:restriction base="AssetReference"/>
	</xs:simpleType>

	<xs:simpleType name="ImageSequenceRef"
								xas:isRef="true"
								xas:refType="ImageSequence">
		<xs:restriction base="AssetReference"/>
	</xs:simpleType>

	<xs:simpleType name="PlayerTemplateRef"
								xas:isRef="true"
								xas:refType="PlayerTemplate">
		<xs:restriction base="AssetReference"/>
	</xs:simpleType>

  <xs:simpleType name="PlayerTemplateWeakRef"
								xas:isRef="true"
								xas:refType="PlayerTemplate">
    <xs:restriction base="WeakReference"/>
  </xs:simpleType>

  <xs:simpleType name="TerrainAssetRef"
							xas:isRef="true"
							xas:refType="TerrainAsset">
		<xs:restriction base="AssetReference"/>
	</xs:simpleType>

	<xs:simpleType name="SubsystemSettingsRef"
						xas:isRef="true"
						xas:refType="BaseSubsystemSettings">
		<xs:restriction base="AssetReference"/>
	</xs:simpleType>

	<xs:simpleType name="MouseCursorRef"
		xas:isRef="true"
		xas:refType="MouseCursor">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="RedAlertTemplateRef"
		xas:isRef="true"
		xas:refType="RedAlertTemplate">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="RedAlertTemplateWeakRef"
		xas:isRef="true"
		xas:refType="RedAlertTemplate">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="ButtonSingleStateDataRef"
								 xas:isRef="true"
								 xas:refType="ButtonSingleStateData">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="JoypadCommandBarTemplateRef"
								 xas:isRef="true"
								 xas:refType="JoypadCommandBarTemplate">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="JoypadCommandBarTemplateWeakRef"
								 xas:isRef="true"
								 xas:refType="JoypadCommandBarTemplate">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="JoypadCommandBarButtonTemplateRef"
								 xas:isRef="true"
								 xas:refType="JoypadCommandBarButtonTemplate">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="JoypadCommandBarButtonTemplateWeakRef"
								 xas:isRef="true"
								 xas:refType="JoypadCommandBarButtonTemplate">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="AudioEventInfoRef" xas:isRef="true" xas:refType="BaseAudioEventInfo" >
		<xs:restriction base="AssetReference" />
	</xs:simpleType>
	<xs:simpleType name="AudioEventInfoRefList"  >
		<xs:list itemType="xs:string" />
		<!-- Should be AudioEventInfoRef but the compiler chokes ?!? "Error: AudioEventInfoRefList List is of reference type but contains no extended type information." -->
	</xs:simpleType>

	<xs:simpleType name="EvaEventRef" xas:isRef="true" xas:refType="EvaEvent">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="EvaEventWeakRef" xas:isRef="true" xas:refType="EvaEvent">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="TerrainParticleMappingRef" xas:isRef="true" xas:refType="TerrainParticleMapping">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="BounceKickTerrainMappingRef" xas:isRef="true" xas:refType="BounceKickTerrainMapping">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="PlayerTechWeakRef"
		xas:refType="PlayerTech">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="PlayerTechRef" xas:isRef="true" xas:refType="PlayerTech">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="PlayerTechRankRef" xas:isRef="true" xas:refType="PlayerTechRank">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="PlayerTechUpgradeBindingRef" xas:isRef="true" xas:refType="PlayerTechUpgradeBinding">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="ProjectilePathRef" xas:isRef="true" xas:refType="ProjectilePath">

		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="PurchasePlayerTechButtonTemplateRef" xas:isRef="true" xas:refType="PurchasePlayerTechButtonTemplate">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>	

	<xs:simpleType name="QuickChatMessageWeakRef"
								 xas:isRef="true"
								 xas:refType="UIQuickChatMessage">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="HealthBarTemplateRef" xas:isRef="true" xas:refType="HealthBarTemplate">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="HealthBarTemplateWeakRef" xas:isRef="true" xas:refType="HealthBarTemplate">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="RadiusCursorRef" xas:isRef="true" xas:refType="RadiusCursor">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="RadiusCursorWeakRef" xas:isRef="true" xas:refType="RadiusCursor">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="PathMusicGameDynamicStateRef" xas:refType="PathMusicGameDynamicState">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="PathMusicGameDynamicStateWeakRef" xas:refType="PathMusicGameDynamicState">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="ForceFeedbackEventRef"
								 xas:isRef="true"
								 xas:refType="ForceFeedbackEvent">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

	<xs:simpleType name="ForceFeedbackEventWeakRef" xas:refType="ForceFeedbackEvent">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="VideoEventListWeakRef" xas:isRef="true"  xas:refType="VideoEventList">
		<xs:restriction base="WeakReference" />
	</xs:simpleType>

	<xs:simpleType name="UnitIntroRef" xas:isRef="true" xas:refType="UnitIntro">
		<xs:restriction base="AssetReference" />
	</xs:simpleType>

</xs:schema>
